{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}
{% block title %}{{ _("meta_title_pds_sds")|truncatechars:160 }}{% endblock %}
{% block description %}{{ _("meta_description_pds_sds")|truncatechars:160 }}{% endblock %}


{% block page_css %}
<link rel="stylesheet" href="{% static 'assets/css/pds-sds&data-sheet.min.css' %}" media="print" onload="this.media='all'" />
<noscript><link rel="stylesheet" href="{% static 'assets/css/pds-sds&data-sheet.min.css' %}" /></noscript>
{% endblock %}


{% block content %}
{% include 'components/page-header.html' %}

<section class="data-sheet-section section-container">
    <div class="data-sheet-container">
        {% if data_sheets %}
        <table>
            <thead>
                <tr>
                    <th>{% trans 'Product ID' %}</th>
                    <th>{% trans 'Product name' %}</th>
                    <th>{% trans 'Language' %}</th>
                    <th>{% trans 'Document type' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for sheet in data_sheets %}
                <tr>
                    <td class="product-id">{{ sheet.product_id }}</td>
                    <td>{{ sheet.product_name }}</td>
                    <td>{{ sheet.language }}</td>
                     <td>
                                    {% if search_document_type == 'pds' %}
                                        {% if sheet.has_pds %}
                                            <a href="{{ sheet.pds_url }}" target="_blank" class="doc-link">{% trans 'PDS' %}</a>
                                        {% endif %}
                                    
                                    {% elif search_document_type == 'sds' %}
                                        {% if sheet.has_sds %}
                                            <a href="{{ sheet.sds_url }}" target="_blank" class="doc-link">{% trans 'SDS' %}</a>
                                        {% endif %}

                                    {% else %}
                                        {% if sheet.has_pds %}
                                            <a href="{{ sheet.pds_url }}" target="_blank" class="doc-link">{% trans 'PDS' %}</a>
                                        {% endif %}
                                        
                                        {% if sheet.has_pds and sheet.has_sds %}
                                            <span class="separator"> | </span>
                                        {% endif %}
                                        
                                        {% if sheet.has_sds %}
                                            <a href="{{ sheet.sds_url }}" target="_blank" class="doc-link">{% trans 'SDS' %}</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p class="no-results-message">{% trans 'No documents found matching your criteria. Please refine your search.' %}</p>
        {% endif %}
    </div>
</section>

{% endblock %}