{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="canonical" href="https://tomoil.de{{ request.path }}" />
  <link rel="alternate" hreflang="en" href="https://tomoil.de/">
  <link rel="alternate" hreflang="de" href="https://tomoil.de/de/">
  <link rel="alternate" hreflang="es" href="https://tomoil.de/es/">
  <link rel="alternate" hreflang="fr" href="https://tomoil.de/fr/">
  <link rel="alternate" hreflang="it" href="https://tomoil.de/it/">
  <link rel="alternate" hreflang="zh-hans" href="https://tomoil.de/zh-hans/">

  <title>{% block title %}{% trans "Tomoil™ | Premium Engine Oils - Official Website" %}{% endblock %}</title>

  <meta name="description"
    content="{% block description %}{% trans 'Discover Tomoil™ – manufacturer of premium motor oils. Explore our engine oils, gear lubricants, and synthetic oil range.' %}{% endblock %}">
  <meta name="keywords"
    content="{% block keywords %}{% trans 'tomoil, motor oil, car oil, lubricants, synthetic oil, engine oil, hydraulic oil, gear oil' %}{% endblock %}">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="TOMOIL">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="{% trans 'Discover Tomoil™ – manufacturer of premium motor oils. Explore our engine oils, gear lubricants, and synthetic oil range.' %}">
  <meta property="og:image" content="{% static 'images/tomoil-logo.svg' %}">
  <meta property="og:url" content="https://tomoil.de{{ request.path }}">
  <link rel="icon" type="image/svg+xml" href="{% static 'images/tomoil-logo.svg' %}">
  <meta name="google-site-verification" content="YveM3J5-9PcWzZR7E04pTePer-8alu7FD7qo7W3k7UM" />

  <!-- Twitter Card tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@TomoilOfficial">
  <meta name="twitter:title" content="TOMOIL">
  <meta name="twitter:description"
    content="{% trans 'Discover Tomoil™ – manufacturer of premium motor oils. Explore our engine oils, gear lubricants, and synthetic oil range.' %}">
  <meta name="twitter:image" content="https://tomoil.de/static/images/tomoil-logo.svg">
  <meta name="ahrefs-site-verification" content="9e4cf268be7fc6c2b3be9598e3c023ec7ab0e3f8a6e5ac6884bf3d6fa032897c">

  <!-- Fonts -->

  <link rel="preload" as="font" href="{% static 'assets/font/AtypTextMedium.otf' %}" type="font/otf"
    crossorigin="anonymous">
  <link rel="preload" as="font" href="{% static 'assets/font/AtypTextRegular.otf' %}" type="font/otf"
    crossorigin="anonymous">
  <link rel="preload" as="font" href="{% static 'assets/font/AtypTextBold.otf' %}" type="font/otf"
    crossorigin="anonymous">

  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'assets/css/home.min.css' %}" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="{% static 'assets/css/case.min.css' %}" onload="this.rel='stylesheet'" />

  <noscript>
    <link rel="stylesheet" href="{% static 'assets/css/home.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/case.min.css' %}" />
  </noscript>



  {% block page_css %}{% endblock %}


  <link rel="stylesheet" href="{% static 'assets/css/responsive.min.css' %}" media="print" onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet" href="{% static 'assets/css/responsive.min.css' %}" />
  </noscript>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" media="print" onload="this.media='all'">
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1613078692966266');
    fbq('track', 'PageView');
  </script>

  <noscript><img height="1" width="1" class="facebook-pixel-none"  alt=""
      src="https://www.facebook.com/tr?id=1613078692966266&ev=PageView&noscript=1" /></noscript>
  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Tomoil",
  "url": "https://tomoil.de",
  "logo": "https://tomoil.de/static/images/tomoil-logo.svg",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+41 76 494 43 94",
    "contactType": "customer service",
    "areaServed": "Worldwide",
    "availableLanguage": ["English", "German", "Spanish", "French", "Italian", "Chinese"]
  },
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Leitzstraße 45",
    "addressLocality": "Stuttgart",
    "postalCode": "70469",
    "addressCountry": "DE"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 48.81368197797313,
    "longitude":  9.178480161618834
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "09:00",
      "closes": "18:00"
    }
  ],
  "sameAs": [
    "https://www.linkedin.com/company/tomoil-lubricants-auto-chemicals/",
    "https://www.instagram.com/tomoil.de/",
    "https://www.facebook.com/people/Tomoil/61576825467224/"
  ]
}

</script>
  {% block extra_schema %}{% endblock %}
</head>

<body>
  {% include 'components/navbar.html' %}
  <div class="main">
    {% block content %} {% endblock %}


    {% include 'components/footer.html' %}
  </div>

  <script src="https://analytics.ahrefs.com/analytics.js" data-key="EA94fV1Ml6D2dYPP4rHnzw" async></script>
  <script>
    var ahrefs_analytics_script = document.createElement('script');
    ahrefs_analytics_script.async = true;
    ahrefs_analytics_script.src = 'https://analytics.ahrefs.com/analytics.js';
    ahrefs_analytics_script.setAttribute('data-key', 'EA94fV1Ml6D2dYPP4rHnzw');
    document.getElementsByTagName('head')[0].appendChild(ahrefs_analytics_script);
  </script>


  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4N7NQSHY4F"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-4N7NQSHY4F');
  </script>


  <script src="{% static 'assets/js/navbar.min.js' %}" defer></script>
  <script src="{% static 'assets/js/brand.min.js' %}" defer></script>
  <script src="{% static 'assets/js/news.min.js' %}" defer></script>
  <script src="{% static 'assets/js/contact.min.js' %}" defer></script>
  <script src="{% static 'assets/js/commitment.min.js' %}" defer></script>

  {% block page_js %}{% endblock %}

</body>

</html>