{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ case_study.title|truncatechars:60 }}{% endblock %}
{% block description %} {{ case_study.description|truncatechars:160 }}{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'assets/css/case.min.css' %}">
{% endblock %}

{% block content %}

<!-- Page Tabs -->
<div class="page-tabs">
    <div class="section-container breadcrumb">
        <a href="{% url 'contact:home' %}">{% trans 'Home' %}</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="{% url 'case_studies:case_studies' %}">{% trans 'Case Studies' %}</a>
        <i class="fa-solid fa-angle-right"></i>
        <span>{{ case_study.title }}</span>
    </div>
</div>

<!-- Case Study Detail -->
<section class="case-detail-section">
    <div class="section-container">
        <div class="section-header">
            <h1>{{ case_study.title }}</h1>
            <div class="card-date">
                <i class="far fa-calendar-alt date-icon"></i>
                {{ case_study.created_at|date:"F j, Y" }}
            </div>
        </div>
        <p class="case-detail-title">
            {{ case_study.header_text }}
        </p>

        {% if case_study.image_one %}
        <img loading="lazy" class="main-image" src="{{ case_study.image_one.url }}" alt="Main Image">
        {% endif %}

        <p class="case-detail-description">
            {{ case_study.description }}
        </p>

        <div class="case-detail-images">
            {% if case_study.image_two %}
            <img loading="lazy" src="{{ case_study.image_two.url }}" alt="Image Two">
            {% endif %}
            {% if case_study.image_three %}
            <img loading="lazy" src="{{ case_study.image_three.url }}" alt="Image Three">
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}