{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Page Tabs -->
<div class="page-tabs">
    <div class="section-container breadcrumb">
        <span>Home</span>
        <i class="fa-solid fa-angle-right"></i>
        <span>Case Studies</span>
        <i class="fa-solid fa-angle-right"></i>
        <a href="#">Enhancing manufacturing efficienct</a>
    </div>
</div>

<!-- Case Study Detail -->
<section class="case-detail-section">
    <div class="section-container">
        <div class="section-header">
            <h2 class="section-title">Enhancing Manufacturing Efficiency</h2>
            <div class="card-date">
                <i class="far fa-calendar-alt date-icon"></i>
                April 1, 2025
            </div>
        </div>
        <p class="case-detail-title">
            In Morocco, TotalEnergies Marketing Maroc is seizing the opportunity offered by the energy transition to
            help companies convert to LPG. This alternative makes it possible to reconcile reduced CO2 emissions with
            enhanced energy performance. Bouchra Bel Abbes, the subsidiary's Gas Director, shares the best practices
            implemented to offer manufacturers less carbon-intensive energy in line with climate objectives.
        </p>

        <img class="main-image" src="{% static 'images/case-detail-image1.png' %}" alt="">

        <p class="case-detail-description">
            Since 2018, TotalEnergies Marketing Maroc has been working to persuade industrialists in the BtoB sector to
            switch from fuel oil to LPG. This strategy is in line with the Company's climate ambition and meets the
            economic and security of supply challenges. It is also in line with the country's national roadmap for
            energy transition.

            Energy-intensive industries generally use fuel oil, but are faced with maintenance problems and growing
            environmental concerns. TotalEnergies Marketing Maroc offers BtoB customers the opportunity to switch from
            fuel oil to LPG by identifying prospects ready to take the plunge and tailoring its sales pitch to each of
            them. This approach has proved its worth in recent years.

            Potential customers targeted include manufacturers using 7* fuel oil, as well as those operating in urban
            areas who need to invest heavily to reduce emissions and nuisances. Industries with fuel-related maintenance
            costs more than $30,000 a year, or 5% of their total energy bill, are also targeted. TotalEnergies Marketing
            Maroc also targets subsidiaries of multinationals with a global environmental strategy.
            The subsidiary also offers a hybrid solution with a mixed oil/LPG burner for undecided customers. It assumes
            the cost of installation to help them discover the advantages of LPG. Raising awareness of the intrinsic and
            environmental advantages of LPG is often enough to convince manufacturers.

            However, the difference in cost between fuel oil and LPG is a major obstacle to conversion. Moreover, the
            volatility of LPG prices creates economic uncertainty. The exclusivity clause imposed on LPG customers can
            also give rise to hesitation. Regulatory constraints in terms of health, safety and the environment can also
            compromise the conversion of certain customers. Despite these challenges, TotalEnergies focuses on safety
            and quality, reinforcing the Company's image with customers. Converting to LPG requires specific commercial
            and technical skills, supported by in-house training.

            In Morocco, in 2022, 444,000 tons of LPG were sold, including 402,000 tons in packaged form (butane,
            propane) and 42,000 tons in bulk, with a potential of 10,000 tons in the coming years.

            Converting from fuel oil to LPG offers environmental and energy benefits for manufacturers. Despite the
            economic, regulatory and safety obstacles, TotalEnergies is committed to supporting the Moroccan industrial
            sector's energy transition towards a more sustainable solution.
        </p>

        <div class="case-detail-images">
            <img src="{% static 'images/case-detail-img3.png' %}" alt="">
            <img src="{% static 'images/case-detail-img2.png' %}" alt="">
        </div>
    </div>
    </div>
</section>

{%endblock %}