{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Page-Header -->
{% include 'components/page-header.html' %}

<!-- Glance Section -->
<section class="glance-section section-container">
    <div class="glance-container">
        <h2 class="section-title">Empowering Journeys, Fueling Progress</h2>
        <p class="section-description">
            Tomoil is a dynamic energy company dedicated to delivering high-quality fuel products and services. With a
            strong presence across key markets, Tomoil focuses on innovation, sustainability, and customer satisfaction.
            Our commitment is to power everyday journeys, support economic growth, and drive a cleaner energy future.
        </p>

        <div class="guides-grid">
            <div>
                <h4><i class="fa-solid fa-square-check"></i> Safety Guides </h3>
                <p class="glance-description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
            </div>
        </div>

        <img src="{% static 'images/case-detail-image1.png' %}" alt="Glance Imgae">

        <h3 class="section-title glance-title">Empowering Journeys, Fueling Progress</h3>

        <p class="glance-description">Tomoil is a dynamic energy company dedicated to delivering high-quality fuel
            products and services. With a
            strong presence across key markets, Tomoil focuses on innovation, sustainability, and customer satisfaction.
            Our commitment is to power everyday journeys, support economic growth, and drive a cleaner energy future.
            Tomoil is a dynamic energy company dedicated to delivering high-quality fuel products and services. With a
            strong presence across key markets,
            Tomoil focuses on innovation, sustainability, and customer satisfaction. Our commitment is to power everyday
            journeys, support economic growth, and drive a cleaner energy future. Tomoil is a dynamic energy company
            dedicated to delivering high-quality fuel products and services. With a strong presence across key markets,
            Tomoil focuses on innovation, sustainability, and customer satisfaction. Our commitment is to power everyday
            journeys, support economic growth, and drive a cleaner energy future.
        </p>
    </div>
</section>

{%endblock %}