{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "meta_title-glance" %}{% endblock %}
{% block description %}{% trans "meta_description_glance" %}{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'assets/css/glance&vision&commit.min.css' %}" />
{% endblock %}

{% block page_js %}
  <script src="{% static 'assets/js/commitment.min.js' %}" defer></script>
{% endblock %}


{% block content %}

<!-- Page-Header -->
{% include 'components/page-header.html' %}

<!-- Glance Section -->
<section class="glance-section section-container">
    <div class="glance-container">
        <h2 class="section-title">{{ item.title }}</h2>
        <div class="section-description">
            {{ item.header_text|safe }}
        </div>
        <div class="guides-grid">
            {% for guide in item.guides.all %}
            <div>
                <h4><i class="fa-solid fa-square-check"></i> {{ guide.guide }}</h4>
                <div class="glance-description">
                    {{ guide.guide_text|safe }}
                </div>
            </div>
            {% endfor %}
        </div>

        <img loading="lazy" src="{{ item.image.url }}" alt="Glance Image">

        <h3 class="section-title glance-title">{{ item.description_header_text }}</h3>
        <div class="glance-description">
            {{ item.description|safe }}
        </div>

    </div>
</section>

{% endblock %}