{% extends 'base.html' %} {% load static %} {% load i18n %}


{% block title %}{% trans "home_meta_title" %}{% endblock %}
{% block description %}{% trans "home_meta_description" %}{% endblock %}
{% block keywords %}{% trans "home_keywords" %}{% endblock %}



{% block page_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
{% endblock %}

{% block extra_schema %}

 <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Tomoil",
    "url": "https://tomoil.de",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://tomoil.de/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>
{% endblock %}


{% block page_js %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<script src="{% static 'assets/js/home.min.js' %}" defer></script>
<script src="{% static 'assets/js/script.min.js' %}" defer></script>
<script src="{% static 'assets/js/carousel.min.js' %}" defer></script>
<script src="{% static 'assets/js/map1.min.js' %}" defer></script>
<script src="{% static 'assets/js/map2.min.js' %}" defer></script>
<script src="{% static 'assets/js/map3.min.js' %}" defer></script>
<script src="{% static 'assets/js/map4.min.js' %}" defer></script>

{% endblock %}

{% block content %}

<div class="main">
  <header class="placeholder-header home-header">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for swiper in swiper_images %}
        <div class="swiper-slide" style="background-image: url('{{ swiper.image.url }}');">
          <div class="slide-content">
            <span>{{ swiper.title }}</span>
            {% if swiper.title_description %}
            <p>{{ swiper.title_description }}</p>
            {% endif %} {% if swiper.description %}
            <p>{{ swiper.description }}</p>
            {% endif %} {% if swiper.link %}
            <a href="{{ swiper.link }}" class="btn-learn" aria-label="{% trans 'Learn more about our products' %}">{% trans 'LEARN MORE' %}</a>
            {% else %}
            <a href="{% url 'products:products_list' %}" class="btn-learn"aria-label="{% trans 'Learn more about our products' %}">{% trans 'LEARN MORE' %}</a>
            {% endif %}
          </div>
          <a href="https://api.whatsapp.com/send?phone=4915221050103" class="header-whatsapp" aria-label="Link Whatsapp">
            <i class="fab fa-whatsapp"></i>
            <span>{% trans 'Any questions? Ask in WhatsApp' %}</span>
          </a>
        </div>
        {% empty %} {% endfor %}
      </div>
      <div class="swiper-button-prev">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
      <div class="swiper-button-next">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>
  </header>
  <a href="https://api.whatsapp.com/send?phone=4915221050103" class="fixed-whatsapp">
    <i class="fab fa-whatsapp"></i>
  </a>

  <!-- Featured Section -->
  <section class="featured-section">
    <div class="background-svg"></div>
    <div class="background-overlay"></div>

    <div class="featured-container main-container">
      <div class="section-header">
        <p class="section-subtitle">{% trans 'FEATURED PRODUCTS' %}</p>
        <h1 class="section-title">
          {% trans 'Discover our top-recommended products' %}
        </h1>
      </div>

      <div class="products-slider">
        <div class="slider-container">
          <!-- Product 1 -->
          {% for product in products %}
          <div class="product-card">
            <div class="product-image">
              <a href="{% url 'products:products_detail_view' product.slug %}">
                <img loading="lazy" src="{{ product.image.url }}" alt="{{ product.title }}" />
              </a>
            </div>
            <div class="product-info">
              <a href="{% url 'products:products_detail_view' product.slug %}">
                <h2 class="product-title">{{ product.title }}</h2>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="slider-nav prev-btn">
          <i class="arrow arrow-left"></i>
        </div>
        <div class="slider-nav next-btn">
          <i class="arrow arrow-right"></i>
        </div>
      </div>

      <a href="{% url 'products:products_list' %}" class="view-catalog">{% trans 'VIEW OUR CATALOGUE' %}</a>
    </div>
  </section>

  <!-- Market Segments Section -->
  <div class="section-container market-segments">
    <div>
      <div class="market-segments-header">
        <h2 class="section-title">{% trans 'Market Segments' %}</h2>
        <p class="section-description">
          {% blocktrans %} Tomoil products are developed to meet the diverse
          technical requirements of various industries and operating
          environments - regardless of application complexity. {%endblocktrans%}
        </p>
      </div>
        <a class="btn-market-segments btn-block" href="{% url 'products:products_list' %}" aria-label="{% trans 'Learn more about our products' %}">{% trans "See More " %}<i
            class="fa-solid fa-arrow-right-long"></i></a>
    </div>


    <div class="market-segments-list ">
      <ul>
        {% for area in application_areas %}
        <li>
          <a href="{% url 'products:products_list' %}?application_area={{ area.slug }}">
            <div>
              <img loading="lazy" src="{{ area.icon.url }}" alt="{{ area.name }} {% trans 'Product Range' %}" />
            </div>
            {{ area.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

      <a class="btn-market-segments btn-none" href="{% url 'products:products_list' %}" aria-label="{% trans 'Learn more about our products' %}">{% trans "See More " %} <i
          class="fa-solid fa-arrow-right-long"></i></a>
  </div>

  <!-- Product Range Section -->
  <div class="section-container product-range">
    <div class="product-range-header">
      <div>
        <h2 class="section-title">{% trans 'Product Range' %}</h2>
        <p class="section-description">
          {% blocktrans %} Explore our extensive portfolio of over 400 premium
          lubricants and service fluids — engineered for exceptional
          performance, protection, and efficiency. {% endblocktrans %}
        </p>
      </div>
      <div class="navigation nav-top">
        <div class="swiper-button-prev nav-button left">
          <i class="fa-solid fa-arrow-left-long"></i>
        </div>
        <div class="swiper-button-next nav-button right">
          <i class="fa-solid fa-arrow-right-long"></i>
        </div>
      </div>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper card-container">
        {% for product_range in product_ranges %}
        <div class="swiper-slide card">
          <img loading="lazy" src="{{ product_range.image.url }}" alt="Engine Oils" class="card-image" />
          <div class="card-content">
            <div class="card-text">
              <h2 class="card-title">{{ product_range.name }}</h2>
              <p class="card-description">
                {{ product_range.description|truncatewords:13 }}
              </p>
            </div>
            <div class="card-button-container">
              <a href="{% url 'products:products_list' %}?product_range={{ product_range.slug }}" class="card-button" aria-label="Filter Product Range">
                <i class="fa-solid fa-arrow-up"></i>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Adventure Section -->
  <section class="adventure-section">
    <div class="section-container">
      <div class="header-container">
        <p class="section-subtitle">{% trans "LATEST NEWS" %}</p>
        <h2 class="section-title">
          {% trans "Adventure Thrills and Excitement Await" %}
        </h2>
        <a href="{% url 'news:news_list' %}" class="all-news-button news-btn">
          {% trans "All news" %}
          <i class="fas fa-arrow-right-long all-news-icon"></i>
        </a>
      </div>

      <div class="news-grid">
        {% if large_card_news %}
        <!-- Large Card - En son eklenen haber -->
        <div class="news-card card-large">
          <img loading="lazy" src="{{ large_card_news.image_one.url }}" alt="{{ large_card_news.title }}"
            class="card-image" />
          <div class="card-content">
            <div class="card-meta">
              <div class="card-date">
                <i class="far fa-calendar-alt date-icon"></i>
                {{ large_card_news.created_at|date:"F j, Y" }}
              </div>
              <div class="share-button" data-url="{% url 'news:news_detail' large_card_news.id %}"
                onclick="copyToClipboard(this)">
                <i class="fas fa-share-alt share-icon"></i>
                {% trans "Share" %}
              </div>
            </div>
            <h3 class="card-title">{{ large_card_news.title }}</h3>
            <p class="card-description">
              {{ large_card_news.description|truncatewords:20 }}
            </p>
            <a href="{% url 'news:news_detail' large_card_news.id %}" class="read-more">
              {% trans "Read More" %}
              <i class="fas fa-arrow-right-long read-more-icon"></i>
            </a>
            <div class="copy-message">{% trans "Copied!" %}</div>
          </div>
        </div>
        {% endif %} {% for news in small_cards_news %}
        <div class="news-card card-small">
          <div class="card-image-container">
            <img loading="lazy" src="{{ news.image_one.url }}" alt="{{ news.title }}" class="card-image" />
          </div>
          <div class="card-content">
            <div class="card-meta">
              <div class="card-date">
                <i class="far fa-calendar-alt date-icon"></i>
                {{ news.created_at|date:"F j, Y" }}
              </div>
              <div class="share-button-container">
                <div class="share-button" data-url="{% url 'news:news_detail' news.id %}"
                  onclick="copyToClipboard(this)">
                  <i class="fas fa-share-alt share-icon"></i>
                  {% trans "Share" %}
                </div>
              </div>
            </div>
            <h3 class="card-title">{{ news.title }}</h3>
            <p class="card-description">
              {{ news.description|truncatewords:15 }}
            </p>
            <a href="{% url 'news:news_detail' news.id %}" class="read-more">
              {% trans "Read More" %}
              <i class="fas fa-arrow-right-long read-more-icon"></i>
            </a>
            <div class="copy-message">{% trans "Copied!" %}</div>
          </div>
        </div>
        {% endfor %}
      </div>

      <a href="{% url 'news:news_list' %}" class="all-news-button news-none">
        {% trans " All news" %}
        <i class="fas fa-arrow-right-long all-news-icon"></i>
      </a>
    </div>
  </section>

  <!-- Accross Section -->
  <section class="accross-section">
    <div class="section-container">
      <p class="section-subtitle">
        {% trans "Across Continents, Beyond Borders" %}
      </p>
      <h2 class="section-title">
        {% trans "Tomoil products are available worldwide" %}
      </h2>
      <p class="section-description">
        {% blocktrans %} Tomoil products are distributed to over 50 countries
        across the globe vida our reliable network of exclusive partners.
        {%endblocktrans %}
      </p>
    </div>
  </section>

  <!-- Map Section -->
  <div>
    <div class="page-wrapper">
      <main class="main-content">
        <section id="preview" class="preview section-margin-b-m">
          <div class="preview__content">
            <div id="map-container">
              <div class="map-header">
                <h3>{% trans "Are you interested in partnership?" %}</h3>
                  <a class="button-style" href="{% url 'contact:contact' %}">{% trans "GET IN TOUCH" %}
                    <i class="fas fa-arrow-right-long"></i></a>
              </div>
            </div>
            <link href="{% static 'assets/css/map.min.css' %}" rel="stylesheet" />
            <script src="{% static 'assets/js/raphael.min.js' %}"  ></script>
            <script src="{% static 'assets/js/settings.min.js' %}" ></script>
            <script src="{% static 'assets/js/paths.min.js' %}" ></script>
            <script src="{% static 'assets/js/map.min.js' %}" ></script>
            <script>
              map_cfg.mapWidth = 0;
              var map = new FlaMap(map_cfg);
              map.drawOnDomReady("map-container");
            </script>
          </div>
        </section>
      </main>
    </div>
  </div>

  <!-- Cross Reference Section -->
  {% comment %}
  <section class="section-container cross-reference">
    <div>
      <div class="cross-reference-header">
        <p class="section-subtitle">{% trans "CROSS REFERENCE" %}</p>
        <h2 class="section-title">
          {% blocktrans %} Find equivalent products by brand with our oil
          cross-reference tool{% endblocktrans %}
        </h2>
      </div>
      <div class="cross-reference-content">
        <div class="dropdown">
          <h3>{% trans "Brand" %}</h3>
          <button class="dropdown-toggle">
            <p>{% trans "Select a brand" %}</p>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul class="dropdown-menu">
            <li>Select 1</li>
            <li>Select 2</li>
            <li>Select 3</li>
            <li>Select 4</li>
            <li>Select 5</li>
            <li>Select 6</li>
            <li>Select 7</li>
          </ul>
        </div>
        <div class="dropdown">
          <h3>{% trans "Product Group" %}</h3>
          <button class="dropdown-toggle">
            <p>{% trans "Select a product group" %}</p>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul class="dropdown-menu">
            <li>Group 1</li>
            <li>Group 2</li>
            <li>Group 3</li>
            <li>Group 4</li>
          </ul>
        </div>
        <div class="dropdown">
          <h3>{% trans "Product" %}</h3>
          <button class="dropdown-toggle">
            <p>{% trans "Select a product" %}</p>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul class="dropdown-menu">
            <li>Product 1</li>
            <li>Product 2</li>
            <li>Product 3</li>
            <li>Product 4</li>
          </ul>
        </div>
        <button>
          <span>{% trans "Search" %}</span><i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </section>
  {% endcomment %}

  <!-- Case Studies Section -->
  <section class="section-case-studies section-container">
    <div class="case-studies-container">
      <div class="case-studies-header">
        <div class="header-text">
          <span class="section-subtitle">{% trans "CASE STUDIES" %}</span>
          <h2 class="section-title">
            {% trans "Fresh Insights from Recent Case Studies" %}
          </h2>
          <a href="{% url 'case_studies:case_studies' %}" class="all-case-studies">{% trans "All Case Studies" %}</a>
        </div>
        <div class="slider-controls case-btn">
          <button class="slider-arrow prev-case" aria-label="Slider Prev Button">
            <i class="fas fa-arrow-left-long"></i>
          </button>
          <button class="slider-arrow next-case" aria-label="Slider Next Button">
            <i class="fas fa-arrow-right-long"></i>
          </button>
        </div>
      </div>

      <div class="case-studies-slider">
        <div class="case-studies-track">
          {% for case_study in case_studies %}
          <div class="case-study-card">
            <div class="case-study-image">
              <img loading="lazy" src="{{ case_study.image_one.url }}" alt="Industrial machinery" />
            </div>
            <div class="case-study-info">
              <h3 class="case-study-title">{{ case_study.title }}</h3>
              <p class="case-study-desc">
                {{ case_study.header_text|truncatewords:20 }}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- OEM Section -->
  <section class="section-oem section-container">
    <div class="oem-container">
      <div class="oem-content">
        <span class="section-subtitle">{% trans "OEM APPROVALS & LICENSES" %}</span>
        <h2 class="section-title">
          {% trans "Where Trust Meets Proven Results" %}
        </h2>
        <p class="section-description">
          {% blocktrans %} Over the years, we've had the privilege of earning
          the trust of countless individuals and organizations. Their continued
          confidence in our expertise, dedication, and values is what drives us
          forward. {% endblocktrans %}
        </p>
      </div>

      <div class="brand-logos">
        {% for car_logo in car_logos %}``
        <div class="brand-logo-container">
          <div class="brand-logo">
            <img loading="lazy" src="{{ car_logo.image.url }}" alt="{{ car_logo.image.url }}" class="logo-img"
              data-brand="mercedes" />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Logos Section -->
  <section class="container logos-section">
    <div id="wrapper">
      <div id="carousel">
        <div id="content">
          {% for partner_logo in partner_logos %}
          <img loading="lazy" src="{{ partner_logo.image.url }}" alt="{{ partner_logo.image.url }}" class="item" />
          {% endfor %}
        </div>
      </div>
      <button id="prev" aria-label="Carousel Prev Button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
        </svg>
      </button>
      <button id="next" aria-label="Carousel Next Button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
        </svg>
      </button>
    </div>
  </section>

  <!-- Best Offers Section -->
  <section class="section-best-offers">
    <div class="section-container">
      <div class="best-offers-wrapper">
        <div class="offer-left">
          <img loading="lazy" src="{% static 'images/best-offers-large.webp' %}" alt="Motor Oil" />
        </div>
        <div class="offer-right">
          <div class="offer-right-top">
            <div class="offer-content">
              <div class="offer-icon">
                <img loading="lazy" src="{% static 'images/Group.svg' %}" alt="Icon" />
              </div>
              <h2>{% trans "Get our best offers quickly" %}</h2>
              <p>
                {% blocktrans %} Lorem Ipsum is simply dummy text the printing
                and typese<br />
                Lorem Ipsum has been the industry's standard dummy
                {%endblocktrans %}
              </p>
              <a href="{% url 'contact:contact' %}" class="quote-btn">{% trans "Get a quote" %}
                <i class="fa-solid fa-arrow-right-long"></i>
              </a>
            </div>
            <div class="offer-image-right">
              <img loading="lazy" src="{% static 'images/bes-offers-small.webp' %}" alt="Car" />
            </div>
          </div>
          <div class="offer-right-bottom">
            <div class="stat-box">
              <h3>8</h3>
              <p>{% trans "Years Of<br />Experience" %}</p>
            </div>
            <div class="stat-box">
              <h3>1,5k</h3>
              <p>{% trans "Partners<br />Worldwide" %}</p>
            </div>
            <div class="stat-box">
              <h3>82</h3>
              <p>{% trans "Unique<br />Products" %}</p>
            </div>
            <div class="stat-box">
              <h3>8m</h3>
              <p>{% trans "Product<br />Sales" %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- E-Mobility Section -->
  <section class="e-mobility-section section-container">
    <div class="e-mobility-container">
      <div class="e-mobility-content">
        <h2 class="section-title">
          {% trans "POWERING THE FUTURE OF E-MOBILITY" %}
        </h2>
        <p>
          {% blocktrans %} Our EV fluids are engineered to meet the evolving
          demands of electric mobility — delivering outstanding cooling,
          high-voltage insulation, and long-term durability. Drive the future
          with Tomoil's next-generation fluid solutions. {% endblocktrans %}
        </p>
        <a href="{% url 'products:products_list' %}?product_range=ev-fluids" class="explore-btn">
          {% blocktrans %} Explore EV Fluids {% endblocktrans %}
        </a>
      </div>
      <div class="e-mobility-image">
        <img loading="lazy" src="{% static 'images/explore-car.webp' %}" alt="Electric Vehicle" class="ev-car-image" />
      </div>
    </div>
  </section>

  <!-- Comments Section -->
  <section class="comments-section container">
    <div class="swiper commentSwiper">
      <div class="swiper-wrapper section-case-studies">
        {% for review in reviews %}
        <div class="swiper-slide">
          <div>
            <div>
              <img loading="lazy" src="{% static 'images_folder/vector.svg' %}" alt="Vector" />
            </div>
            <p>{{review.review|truncatewords:60}}</p>
          </div>
          <div>
            <div>
              <img loading="lazy" src="{{ review.image.url}}" alt="Review" />
            </div>
            <div>
              <h5>{{ review.name }}</h5>
              <p>{{ review.position }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-prev">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
      <div class="swiper-button-next">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>
  </section>
</div>



{% endblock %}