{% extends 'base.html' %} {% load static %} {% load i18n %}

{% block title %}{% trans 'meta_title_commitments' %}{% endblock %}
{% block description %}{% trans "meta_description_commitments" %}{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'assets/css/glance&vision&commit.min.css' %}" />
{% endblock %}

{% block content %}

<!-- Page-Header -->
{% include 'components/page-header.html' %}

<!-- Our commitment Section -->
<section class="our-commitment-section section-container">
  <div class="commitment-container">
    <!-- Tab Titles -->
    <div class="commitment-nav">
      {% for item in items %}
      <div class="commitment-item {% if forloop.first %}active{% endif %}"
        data-commitment="commitment-{{ forloop.counter }}">
        <span>{{ item.tab_title }}</span>
        <div class="arrow-icon">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Tab Contents -->
    <div class="commitment-content">
      {% for item in items %}
      <div class="commitment-detail {% if forloop.first %}active{% endif %}"
        id="commitment-{{ forloop.counter }}-content">
        <div class="commitment-header">
          <h2 class="section-title">{{ item.title }}</h2>
          <div class="section-description">
            {{ item.header_description|safe }}
          </div>
        </div>

        {% if item.image %}
        <img loading="lazy" src="{{ item.image.url }}" alt="commitment Image" />
        {% endif %}

        <div class="commitment-description">
          <h3>{{ item.description_title }}</h3>
          <div class="section-description">{{ item.description|safe }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}