{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Page-Header -->
{% include 'components/page-header.html' %}

<!-- Our commitment Section -->
<section class="our-commitment-section section-container">
    <div class="commitment-container">
        <div class="commitment-nav">
            <div class="commitment-item active" data-commitment="corporate">
                <span>Corporate</span>
                <div class="arrow-icon">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <div class="commitment-item" data-commitment="dealership">
                <span>Dealership and formulas</span>
                <div class="arrow-icon">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>

        </div>

        <div class="commitment-content">
            <div class="commitment-detail active" id="corporate-content">
                <div class="commitment-header">
                    <h2 class="section-title">Oil diagnosis and check-up</h2>
                    <p class="section-description">Thanks to the internal laboratory and the huge database developed
                        along the years, Pakelo offers several consultancy services including: Predictive analysis (GAP
                        Policy) with the aim to prevent breakdowns connected to wear and malfunctioning.</p>
                </div>

                <img src="{% static 'images/case-detail-image1.png' %}" alt="commitment Image">

                <div class="commitment-description">
                    <h3>GAP Policy (Preventive Analysis Management)</h3>
                    <div class="section-description">Thanks to the internal laboratory and the huge database developed
                        along the years, Pakelo offers several consultancy services including: Predictive analysis (GAP
                        Policy) with the aim to prevent breakdowns connected to wear and malfunctioning.</div>
                </div>
            </div>

            <div class="commitment-detail" id="dealership-content">
                <div class="commitment-header">
                    <h2 class="section-title">Oil diagnosis and check-up</h2>
                    <p class="section-description">Thanks to the internal laboratory and the huge database developed
                        along the years, Pakelo offers several consultancy services including: Predictive analysis (GAP
                        Policy) with the aim to prevent breakdowns connected to wear and malfunctioning.</p>
                </div>

                <img src="{% static 'images/case-detail-img2.png' %}" alt="commitment Image">

                <div class="commitment-description">
                    <h3>GAP Policy (Preventive Analysis Management)</h3>
                    <div class="section-description">Thanks to the internal laboratory and the huge database developed
                        along the years, Pakelo offers several consultancy services including: Predictive analysis (GAP
                        Policy) with the aim to prevent breakdowns connected to wear and malfunctioning.</div>
                </div>
            </div>

        </div>
    </div>
</section>


{%endblock %}