{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Page-Header -->
{% include 'components/page-header.html' %}

<!-- PDS SDS Container -->

<section class="pds-sds-section section-container">
    <div class="pds-sds-container">
        <div class="pds-sds-left">
            <h2 class="section-title">Access essential PDS & SDS documents to stay informed</h2>
            <p class="section-description">Tomoil is a dynamic energy company dedicated to delivering high-quality fuel
                products and services. With a strong presence across key markets, Tomoil focuses on innovation,
                sustainability, and customer satisfaction. Our commitment is to power everyday journeys, support
                economic growth, and drive a cleaner energy future.</p>
        </div>
        
        <div class="pds-sds-right">


        </div>

    </div>
</section>


{%endblock %}