{% extends 'base.html' %} {% load static %} {% load i18n %}

{% block title %}{{ product.title }}{% endblock %}

{% block description %}{% trans "meta_description_products" %}{% endblock %}


{% block page_css %}
<link rel="stylesheet" href="{% static 'assets/css/product.min.css' %}" />
{% endblock %}

{% block extra_schema %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{ product.title|escapejs }}",
  "image": ["{{ product.image.url|default_if_none:'' }}"],
  "description": "{{ product.description|truncatechars:150|striptags|escapejs }}",
  "brand": {
    "@type": "Brand",
    "name": "Tomoil"
  },
  "review": [
    {% for review in reviews %}
    {
      "@type": "Review",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "{{ review.rating }}"
      },
      "author": {
        "@type": "Person",
        "name": "{{ review.full_name|escapejs }}"
      },
      "reviewBody": "{{ review.review|truncatechars:200|striptags|escapejs }}"
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ],
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{ avg_rating|default:4 }}",
    "reviewCount": "{{ reviews_count }}"
  }
}
</script>
{% endblock %}

{% block page_js %}
  <script src="{% static 'assets/js/product.min.js' %}" defer></script>
  <script src="{% static 'assets/js/product_detail.min.js' %}" defer></script>
{% endblock %}

{% block content %}

<!-- Page-Header -->
{% include 'components/page-header.html' %}

<!-- Product detail section  -->

<section class="product-details-section section-container">
  <div class="product-details-info">
    <div class="left-content">
      <div class="product-detail-content">
        <h2 class="section-title">
          {% for composition in product.compositions.all %} {{composition.name}}{% if not forloop.last %}, {% endif %}
          {% endfor %} {{product.product_range.name }}
        </h2>
        <p class="section-description">{{ product.description }}</p>
      </div>
      <div>
        <h3>{% trans 'Are you interested in partnership?' %} </h3>
        <button class="button-style">
          <a href="">{% trans 'GET IN TOUCH' %} <i class="fas fa-arrow-right-long"></i></a>
        </button>
      </div>
    </div>

    <div class="details-image">
      {% if product.image %}
      <img loading="lazy" src="{{ product.image.url }}" alt="{{ product.title }}" />
      {% else %} {% endif %}
    </div>
  </div>

  {% if product.pds or product.sds %}
  <div class="data-sheets">
    <h3>{% trans 'Data Sheets' %}</h3>

    <div class="sheet-buttons">
      {% if product.pds %}
      <a href="{{ product.pds }}" target="_blank">
        <button>
          {% trans 'Product Data Sheet' %}
          <img loading="lazy" src="{% static 'images/download-icon.svg' %}" alt="Download Icon" />
        </button>
      </a>
      {% endif %} {% if product.sds %}
      <a href="{{ product.sds }}" target="_blank">
        <button>
          {% trans 'Safety Data Sheet' %}
          <img loading="lazy" src="{% static 'images/download-icon.svg' %}" alt="Download Icon" />
        </button>
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div class="product-properties">
    {% if product.features_benefits %}
    <div class="featured">
      <h3>{% trans 'Features & Benefits' %}</h3>
      <div class="featured-content">
        <i class="fa-solid fa-check"></i>
        <p class="section-description">{{ product.features_benefits }}</p>
      </div>
    </div>
    {% else %}
    {% endif %}
    {% if product.application %}
    <div class="application">
      <h3>{% trans 'Application' %}</h3>

      <div class="app-content">
        <i class="fa-solid fa-check"></i>
        <p class="section-description">{{ product.application }}</p>
      </div>
    </div>
    {% else %} {% endif %}
  </div>

  <div class="product-specifications">
    <div class="specifications-components">
      <div class="tabs">
        <div class="tab active {% if active_tab == 'performance' %}active{% endif %}" data-tab="performance">
          {% trans 'Performance' %}
        </div>
        <div class="tab {% if active_tab == 'typical-properties' %}active{% endif %}" data-tab="typical-properties">
          {% trans 'Typical Properties' %}
        </div>
        <div class="tab {% if active_tab == 'packaging-sizes' %}active{% endif %}" data-tab="packaging-sizes">
          {% trans 'Packaging & Sizes' %}
        </div>
      </div>
    </div>
    <div class="specifications-content">
      <!-- Brand Guideline Tab -->
      <div class="tab-content active {% if active_tab == 'performance' %}active{% endif %}" id="performance">
        <div class="performance-content">
          <h3>{% trans 'Specifications / Approvals:' %}</h3>
          {% if product.specifications.exists %}
          <p>
            {% for specification in product.specifications.all %}
            {% if specification.is_active %}
            {{ specification.name }}{% if not forloop.last %}, {% endif %}
            {% endif %}
            {% endfor %}
          </p>
          {% else %}
          <p>No specifications available for this product.</p>
          {% endif %}
          {% if product.recommendation %}
          <p>
            <span>Tomoil</span> {% blocktrans %} recommends this product for vehicles or
            assemblies for which the following specifications or original spare
            part numbers are required: {% endblocktrans %}
          </p>

          <p>{{ product.recommendation|linebreaks }}</p>
          {% else %}
          {% endif %}

        </div>
      </div>
      <div class="tab-content {% if active_tab == 'typical-properties' %}active{% endif %}" id="typical-properties">
        <div class="specifications-table">
          {% if typical_properties %}
          <table>
            <thead>
              <tr>
                <th>{% trans 'Property' %}</th>
                <th>{% trans 'Unit' %}</th>
                <th>{% trans 'Test Method' %}</th>
                <th>{% trans 'Typical Value' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for property in typical_properties %}
              <tr>
                <td>{{ property.property }}</td>
                <td>{{ property.unit|default:"-" }}</td>
                <td>{{ property.test_method|default:"-" }}</td>
                <td>{{ property.typical_value }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% trans 'Typical properties information will be available soon.' %}</p>
          {% endif %}
        </div>
      </div>

      <div class="tab-content {% if active_tab == 'packaging-sizes' %}active{% endif %}" id="packaging-sizes">
        <div class="specifications-table">
          {% if packaging_sizes %}
          <table>
            <thead>
              <tr>
                <th>{% trans 'Size' %}</th>
                <th>{% trans 'Packing Type' %}</th>
                <th>{% trans 'Units Per Box' %}</th>
                <th>{% trans 'Boxes Per Pallet' %}</th>
                <th>{% trans 'Units Per Pallet' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for package in packaging_sizes %}
              <tr>
                <td>{{ package.size }}</td>
                <td>{{ package.packaging_type }}</td>
                <td>{{ package.units_per_box|default:"-" }}</td>
                <td>{{ package.boxes_per_pallet|default:"-" }}</td>
                <td>{{ package.units_per_pallet|default:"-" }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% trans 'Packaging information will be available soon.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="product-opinions">
    <div class="product-detail-content">
      <h2 class="section-title">{% trans 'Your opinion is important to us!' %}</h2>
      <p class="section-description">
        {% blocktrans %}
        Be a trailblazer and rate the product, so that others can benefit from
        your experience and we can keep on optimising!
        {% endblocktrans %}
      </p>

      <button class="button-style" id="openReviewModal">
        <a>{% if reviews_count > 0 %}{% trans 'ADD YOUR REVIEW' %}{% else %}
          {% blocktrans %} BE THE FIRST TO RATE PRODUCTS {% endblocktrans %}
          {% endif %}
          <i class="fas fa-arrow-right"></i></a>
      </button>
    </div>
    {% if reviews %}
    <div class="opinions">
      {% for review in reviews %}
      <div class="opinion {% if forloop.first %}active{% endif %}" data-index="{{ forloop.counter0 }}">
        <div class="star-rating">
          {% for i in "12345" %} {% if forloop.counter <= review.rating %} <i class="fa-solid fa-star"></i>
            {% else %}
            <i class="fa-regular fa-star"></i>
            {% endif %} {% endfor %}
        </div>
        <div class="review-header">
          <h3>{{ review.full_name }}</h3>
          <span>{{ review.created_at|date:"d.m.Y" }}</span>
        </div>
        <p class="section-description">{{ review.review }}</p>
      </div>
      {% endfor %}
    </div>
    {% else %}

    {% endif %}
  </div>

  <!-- Modal HTML -->
  <div id="reviewModalOverlay" class="review-modal-overlay">
    <div class="review-modal">
      <div class="modal-header">
        <h2 class="modal-title">{% trans 'Your Review' %}</h2>
        <button class="close-btn" id="closeModal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <form id="review-form" class="modal-form" method="POST">
        {% csrf_token %}
        <div class="form-section">
          <label>{% trans 'Rating' %}</label>
          <div class="star-selector">
            <i class="fas fa-star star" data-rating="1"></i>
            <i class="fas fa-star star" data-rating="2"></i>
            <i class="fas fa-star star" data-rating="3"></i>
            <i class="fas fa-star star" data-rating="4"></i>
            <i class="fas fa-star star" data-rating="5"></i>
          </div>
          <input type="hidden" name="rating" id="rating-input" required />
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="firstName">{% trans 'First name' %}</label>
            <input type="text" id="firstName" name="first_name" placeholder="{% trans 'Enter your name' %}" required />
          </div>
          <div class="form-group">
            <label for="surname">{% trans 'Surname' %}</label>
            <input type="text" id="surname" name="surname" placeholder="{% trans 'Enter your surname' %}" required />
          </div>
        </div>

        <div class="form-section">
          <div class="form-group">
            <label for="email">{% trans 'Email address' %}</label>
            <input type="email" id="email" name="email_address" placeholder="{% trans 'Enter your email' %}" required />
          </div>
        </div>

        <div class="form-section">
          <div class="form-group">
            <label for="summary">{% trans 'Summary of your review' %}</label>
            <input type="text" id="summary" name="summary" placeholder="{% trans 'Enter your review summary' %}"
              required maxlength="200" />
          </div>
        </div>

        <div class="form-section">
          <div class="form-group">
            <label for="review">{% trans 'Review' %}</label>
            <textarea id="review" name="review" placeholder="{% trans 'Write your detailed review here...' %}"
              required></textarea>
          </div>
        </div>

        <div class="checkbox-container">
          <input type="checkbox" id="agreement" name="agreement" required />
          <label for="agreement">{% trans 'I agree to the publication and the' %} {% trans 'evaluation conditions' %}.</label>
        </div>
        <p id="form-error-message" style="color: red; text-align: center; margin-bottom: 15px;"></p>

        <button type="submit" class="submit-btn">{% trans 'SUBMIT' %}</button>
      </form>
    </div>
  </div>
</section>



{% endblock %}