{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page-Header -->
{% include 'components/page-header.html' %}

<!-- Products section  -->
<section class="products-section section-container">
    <div class="products-container">
        <div class="filter-products">
            <button class="reset-filter-btn">RESET FILTERS</button>

            <div class="filter-section">
                <h3>Product Range</h3>
                <div class="checkbox-area">
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Engine Oils</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Universal Tractor Oils</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Automatic Transmission Fluids</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Manual Transmission Fluids</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Hydraulic Oils</span>
                    </label>
                    <!-- Additional items that will be shown when expanded -->
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Gear Oils</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Brake Fluids</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Coolants</span>
                    </label>
                </div>
                <div class="filter-show-more">
                    <a href="#" class="show-more">
                        Show more <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="filter-section">
                <h3>Application area</h3>
                <div class="application-area">
                    <button class="icon-button" data-type="car">
                        <img src="{% static 'images/download-icon-dark.svg' %}" alt="Filter icon">
                    </button>
                    <button class="icon-button" data-type="truck">
                        <img src="{% static 'images/download-icon-dark.svg' %}" alt="Filter icon">
                    </button>
                    <button class="icon-button" data-type="motorcycle">
                        <img src="{% static 'images/download-icon-dark.svg' %}" alt="Filter icon">
                    </button>
                    <button class="icon-button" data-type="electric-car">
                        <img src="{% static 'images/download-icon-dark.svg' %}" alt="Filter icon">
                    </button>
                    <button class="icon-button" data-type="tractor">
                        <img src="{% static 'images/download-icon-dark.svg' %}" alt="Filter icon">
                    </button>
                    <button class="icon-button active" data-type="construction">
                        <img src="{% static 'images/download-icon-dark.svg' %}" alt="Filter icon">
                    </button>
                    <button class="icon-button" data-type="marine">
                        <img src="{% static 'images/download-icon-dark.svg' %}" alt="Filter icon">
                    </button>
                    <button class="icon-button" data-type="industrial">
                        <img src="{% static 'images/download-icon-dark.svg' %}" alt="Filter icon">
                    </button>
                    <button class="icon-button" data-type="aviation">
                        <img src="{% static 'images/download-icon-dark.svg' %}" alt="Filter icon">
                    </button>
                </div>
                <div class="filter-show-more">
                    <a href="#" class="show-more">
                        Show more <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="filter-section">
                <h3>Product Specifications</h3>

                <div class="search-bar">
                    <input type="text" placeholder="Search" class="search-input" />
                    <button class="search-button">
                        <img src="{% static 'images/search-icon.svg' %}" alt="Search" />
                    </button>
                </div>
                <div class="checkbox-area">
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">API SP</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">API SN</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">ACEA C5</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">ACEA A3/B4</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">MB 229.5</span>
                    </label>
                    <!-- Additional items -->
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">BMW LL-01</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">VW 504.00/507.00</span>
                    </label>
                </div>
                <div class="filter-show-more">
                    <a href="#" class="show-more">
                        Show more <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="filter-section">
                <h3>Viscosity</h3>
                <div class="checkbox-area">
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">0W-8</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">0W-16</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">0W-20</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">5W-30</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">10W-40</span>
                    </label>
                    <!-- Additional items -->
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">15W-40</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">20W-50</span>
                    </label>
                </div>
                <div class="filter-show-more">
                    <a href="#" class="show-more">
                        Show more <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="filter-section">
                <h3>Composition</h3>
                <div class="checkbox-area">
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Mineral</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Semi-synthetic</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Synthetic</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Semi-synthetic</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Synthetic</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Semi-synthetic</span>
                    </label>
                    <label class="checkbox-group">
                        <input type="checkbox" />
                        <span class="checkbox-label">Synthetic</span>
                    </label>
                </div>
                <div class="filter-show-more">
                    <a href="#" class="show-more">
                        Show more <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="filter-section">
                <h3>Pack sizes</h3>
                <div class="pack-size-area">
                    <button class="icon-button" data-type="size-1">6</button>
                    <button class="icon-button" data-type="size-2">12</button>
                    <button class="icon-button active" data-type="size-3">18</button>
                    <button class="icon-button" data-type="size-4">24</button>
                    <button class="icon-button" data-type="size-5">36</button>
                    <button class="icon-button" data-type="size-6">48</button>
                    <button class="icon-button" data-type="size-7">60</button>
                    <button class="icon-button" data-type="size-8">72</button>
                    <button class="icon-button" data-type="size-9">100</button>
                    <button class="icon-button" data-type="size-10">200</button>
                </div>
                <div class="filter-show-more">
                    <a href="#" class="show-more">
                        Show more <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>

        
            <button type="button" class="filter-results-button" id="filterResultsBtn">View Result</button>
      
        </div>

        <div class="products-list">
            <div class="product-card">
                <div class="product-type">ENGINE OIL</div>
                <a href="" class="product-image" >
                    <img src="{% static 'images/image 79.svg' %}" alt="Product Image">
                </a>
                <div class="product-info">
                    <div>
                        <h2 class="product-title">PureMax 10W-30</h2>
                        <p class="product-description">Fully Syntetic</p>
                        <p class="product-id">ID: 394020394</p>
                    </div>
                    <a href="#" class="show-more">
                        Show More
                        <i class="fas fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-type">ENGİNE OIL</div>
                <a class="product-image" href="">
                    <img src="{% static 'images/image 80.svg' %}" alt="Product Image">
                </a>
                <div class="product-info">
                    <div>
                        <h2 class="product-title">PureMax 10W-30</h2>
                        <p class="product-description">Fully Syntetic</p>
                        <p class="product-id">ID: 394020394</p>
                    </div>
                    <a href="#" class="show-more">
                        Show More
                        <i class="fas fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-type">ENGİNE OIL</div>
                <a href="" class="product-image">
                    <img src="{% static 'images/product.png' %}" alt="Product Image">
                </a>
                <div class="product-info">
                    <div>
                        <h2 class="product-title">PureMax 10W-30</h2>
                        <p class="product-description">Fully Syntetic</p>
                        <p class="product-id">ID: 394020394</p>
                    </div>
                    <a href="#" class="show-more">
                        Show More
                        <i class="fas fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-type">ENGİNE OIL</div>
                <a href="" class="product-image">
                    <img src="{% static 'images/product.png' %}" alt="Product Image">
                </a>
                <div class="product-info">
                    <div>
                        <h2 class="product-title">PureMax 10W-30</h2>
                        <p class="product-description">Fully Syntetic</p>
                        <p class="product-id">ID: 394020394</p>
                    </div>
                    <a href="#" class="show-more">
                        Show More
                        <i class="fas fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}