{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page-Header -->
{% include 'components/page-header.html' %}

<!-- Products section  -->
<section class="products-section section-container">
    <div class="products-container">
        <div class="filter-products">
            <button class="reset-filter-btn">RESET FILTERS</button>

        </div>
        <div class="products-list">
               <a href="" class="product-card">
                <div class="product-image">
                    <img src="{% static 'images/product.png' %}" alt="Product Image">
                </div>
                <div class="product-info">
                    <div>
                        <h2 class="product-title">PureMax 10W-30</h2>
                        <p class="product-description">Fully Syntetic</p>
                        <p class="product-id">ID: 394020394</p>
                    </div>
                    <a href="#" class="show-more">
                        Show More
                        <i class="fas fa-arrow-right-long"></i>
                    </a>
                </div>
            </a>
            <a href="" class="product-card">
                <div class="product-image">
                    <img src="{% static 'images/product.png' %}" alt="Product Image">
                </div>
                <div class="product-info">
                    <div>
                        <h2 class="product-title">PureMax 10W-30</h2>
                        <p class="product-description">Fully Syntetic</p>
                        <p class="product-id">ID: 394020394</p>
                    </div>
                    <a href="#" class="show-more">
                        Show More
                        <i class="fas fa-arrow-right-long"></i>
                    </a>
                </div>
            </a>
            <a href="" class="product-card">
                <div class="product-image">
                    <img src="{% static 'images/product.png' %}" alt="Product Image">
                </div>
                <div class="product-info">
                    <div>
                        <h2 class="product-title">PureMax 10W-30</h2>
                        <p class="product-description">Fully Syntetic</p>
                        <p class="product-id">ID: 394020394</p>
                    </div>
                    <a href="#" class="show-more">
                        Show More
                        <i class="fas fa-arrow-right-long"></i>
                    </a>
                </div>
            </a>
            <a href="" class="product-card">
                <div class="product-image">
                    <img src="{% static 'images/product.png' %}" alt="Product Image">
                </div>
                <div class="product-info">
                    <div>
                        <h2 class="product-title">PureMax 10W-30</h2>
                        <p class="product-description">Fully Syntetic</p>
                        <p class="product-id">ID: 394020394</p>
                    </div>
                    <a href="#" class="show-more">
                        Show More
                        <i class="fas fa-arrow-right-long"></i>
                    </a>
                </div>
            </a>

        </div>
    </div>
</section>



{% endblock %}