{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Page-Header -->
{% include 'components/page-header.html' %}

<!-- vision-mission Section -->
<section class="vision-mission-section section-container">
    <div class="vision-mission-top">
        <div class="vision-mission-top-left">
            <div>
                <h2 class="section-title">VISION</h2>
                <p class="section-description">
                    To become a globally recognized leader in sustainable and innovative lubricant solutions - setting
                    new benchmarks in the industry through environmentally responsible practices, operational
                    excellence, and unwavering integrity, all powered by the precision and reliability of German
                    engineering.
                </p>
            </div>
            <div>
                <h2 class="section-title">MISSION</h2>
                <p class="section-description">
                    At Eurotec, we create value by manufacturing high-quality lubricants and service fluids through
                    efficient, cost-effective, and environmentally conscious processes.
                    Driven by the standards of German engineering excellence, we are committed to workplace safety,
                    continuous innovation, and sustainable growth - delivering trusted solutions to our global clients.
                    Guided by our core values of environmental stewardship, business integrity, and operational
                    efficiency, we aim to exceed expectations and build long-lasting, trust-based partnerships
                    worldwide.
                </p>
            </div>
        </div>

        <img src="{% static 'images/case-detail-image1.png' %}" alt="vision-mission Image">

    </div>
    <div class="vision-mission-bottom">

        <h2 class="section-title">VALUES</h2>

        <div class="values-grid">
            <div class="values-grid-item">
                <i class="fa-solid fa-check"></i>
                <div>
                    <h4>Integrity & Ethics</h4>
                    <p class="section-description">We conduct business with honesty, transparency, and
                        accountability - building trust with our partners, customers, and stakeholders.</p>
                </div>
            </div>
            <div class="values-grid-item">
                <i class="fa-solid fa-check"></i>
                <div>
                    <h4>Integrity & Ethics</h4>
                    <p class="section-description">We conduct business with honesty, transparency, and
                        accountability - building trust with our partners, customers, and stakeholders.</p>
                </div>
            </div>
            <div class="values-grid-item">
                <i class="fa-solid fa-check"></i>
                <div>
                    <h4>Integrity & Ethics</h4>
                    <p class="section-description">We conduct business with honesty, transparency, and
                        accountability - building trust with our partners, customers, and stakeholders.</p>
                </div>
            </div>
            

        </div>

    </div>
</section>

{%endblock %}