{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<!-- Page-Header -->
{% include 'components/page-header.html' %}

<!-- vision-mission Section -->
<section class="vision-mission-section section-container">
    <div class="vision-mission-top">
        <div class="vision-mission-top-left">
            <div>
                <h2 class="section-title">{% trans 'VISION' %}</h2>
                <div class="section-description">
                    {{ item.vision|safe }}
                </div>
            </div>
            <div>
                <h2 class="section-title">{% trans 'MISSION' %}</h2>
                <div class="section-description">
                    {{ item.mission|safe }}
                </div>
            </div>
        </div>

        <img src="{{ item.image.url }}" alt="vision-mission Image">

    </div>
    <div class="vision-mission-bottom">

        <h2 class="section-title">{% trans 'VALUES' %}</h2>

        <div class="values-grid">
            {% for value in item.values.all %}
                <div class="values-grid-item">
                    <i class="fa-solid fa-check"></i>
                    <div>
                        <h4>{{ value.title }}</h4>
                        <div class="section-description">{{ value.description|safe }}</div>
                    </div>
                </div>
            {% empty %}
                <p>{% trans 'No values available.' %}</p>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}
