{% load static %} {% load i18n %}

<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-col footer-brand">
      <div class="footer-logo">
        <img loading="lazy" src="{% static 'images/tomoil-logo.svg' %}" alt="Tomoil Logo" />
      </div>
      <p class="footer-description">
        {% blocktrans %} Corporate business typically refers to large-scale
        mansola it enterprises or organizat {% endblocktrans %}
      </p>
      <div class="social-icons">
        <a href="https://www.facebook.com/people/Tomoil/61576825467224/" class="social-icon"><i
            class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/tomoil.de/" class="social-icon"><i class="fab fa-instagram"></i></a>
        <!-- <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a> -->
        <!-- <a href="#" class="social-icon"><i class="fab fa-tiktok"></i></a> -->
        <a href="https://www.linkedin.com/company/tomoil-lubricants-auto-chemicals/" class="social-icon"><i
            class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <div class="footer-col footer-links">
      <h3 class="footer-title">{% trans 'Quick Links' %}</h3>
      <ul class="footer-menu">
        <li>
          <a href="{% url 'whoweare:glance' %}">{% trans 'Who we are' %}</a>
        </li>
        <li>
          <a href="{% url 'products:products_list' %}">{% trans 'Products' %}</a>
        </li>
        <li>
          <a href="{% url 'services:services_list' %}">{% trans 'Services' %}</a>
        </li>
        <li>
          <a href="{% url 'brand_portal:brand_portal' %}">{% trans 'Brand Portal' %}</a>
        </li>
      </ul>
    </div>

    <div class="footer-col footer-menu2">
      <ul class="footer-menu-icons">
        <li>
          <a href="{% url 'news:news_list' %}"><i class="fas fa-chevron-right"></i> {% trans 'News' %}</a>
        </li>
        <li>
          <a href="{% url 'faq:faq' %}"><i class="fas fa-chevron-right"></i> {% trans 'FAQ' %}</a>
        </li>
        <li>
          <a href="{% url 'contact:contact' %}"><i class="fas fa-chevron-right"></i> {% trans 'Contact us' %}</a>
        </li>
        <li>
          <a href="{% url 'products:pds_sds' %}"><i class="fas fa-chevron-right"></i> {% trans 'PDS/SDS' %}</a>
        </li>
      </ul>
    </div>

    <div class="footer-col footer-info">
      <h3 class="footer-title">{% trans 'Stay in the Know' %}</h3>
      <p class="newsletter-text">
        {% blocktrans %} Be the first to hear about our latest news, updates,
        and exclusive insights. {% endblocktrans %}
      </p>
      <div>
        <form action="{% url 'contact:footer_email_submit' %}" method="post" class="newsletter-form">
          {% csrf_token %}
          <input type="email" name="email" placeholder="{% trans 'Enter your email' %}" required />
          <button type="submit" class="submit-btn">
            <i class="fas fa-paper-plane"></i>
          </button>
        </form>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>

    <div class="footer-col footer-gallery">
      <h3 class="footer-title">{% trans 'Gallery' %}</h3>
      <div class="gallery-grid">
        <div class="gallery-item">
          <img  loading="lazy"  src="{% static 'images/footer-gallery-1.webp' %}" alt="Gallery Image" />
        </div>
        <div class="gallery-item">
          <img  loading="lazy"  src="{% static 'images/footer-gallery-2.webp' %}" alt="Gallery Image" />
        </div>
        <div class="gallery-item">
          <img  loading="lazy"  src="{% static 'images/footer-gallery-3.webp' %}" alt="Gallery Image" />
        </div>
        <div class="gallery-item">
          <img  loading="lazy"  src="{% static 'images/footer-gallery-4.webp' %}" alt="Gallery Image" />
        </div>
        <div class="gallery-item">
          <img  loading="lazy"  src="{% static 'images/footer-gallery-5.webp' %}" alt="Gallery Image" />
        </div>
        <div class="gallery-item">
          <img  loading="lazy"  src="{% static 'images/footer-gallery-6.webp' %}" alt="Gallery Image" />
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-bottom-container">
      <p class="copyright">© TOMOIL 2025 | {% trans 'All Rights Reserved' %}</p>
      <div class="footer-links-bottom">
        <a href="#">{% trans 'Terms & Condition' %}</a>
        <span class="divider">|</span>
        <a href="#">{% trans 'Privacy Policy' %}</a>
        <span class="divider">|</span>
        <a href="#">{% trans 'Cookies' %}</a>
      </div>
    </div>
  </div>
</footer>