{% load static %}
<nav>
  <div class="container">
    <div class="navbar">
      <div class="info">
        <div>
          <ul>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              <p>Leitzstraße 45, 70469 Stuttgart, Germany</p>
            </li>
            <li>
              <i class="fa-solid fa-envelope"></i>
              <a href="">info@tomoil.de</a>
            </li>
            <li>
              <i class="fa-solid fa-phone"></i>
              <a href="">+49 1578 1234567</a>
            </li>
          </ul>
        </div>
        <div class="info-book">
          <button>
            <a href="">Lets book a call</a>
          </button>
          <button>
            <a href="/pds_sds">PSD/SDS</a>
          </button>
          <button>AZE <i class="fa-solid fa-angle-down"></i></button>
        </div>
      </div>
      <div class="nav-section">
        <div class="logo">
          <img src="{% static 'images/tomoil-logo.svg' %}" alt="" />
        </div>
        <div class="nav-list">
          <ul>
            <li class="dropdown">
              <a href="">Who we Are</a>
              <div class="dropdown-content">
                <a href="/glance">GLANCE</a>
                <a href="/vision_mission">VISION & MISSION</a>
                <a href="/our_commitment">OUR COMMITMENTS</a>
              </div>
            </li>
            <li><a href="">Products</a></li>
            <li><a href="/services">SERVICES</a></li>
            <li><a href="/brand">Brand portal</a></li>
            <li><a href="/news">news</a></li>
            <li><a href="/faq">faq</a></li>
            <li><a href="/contact">Contact US</a></li>
          </ul>
        </div>
        <button class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>
</nav>