{% load static %}
<nav>
  <div class="container">
    <div class="navbar">
      <div class="info">
        <div>
          <ul>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              <p>Leitzstraße 45, 70469 Stuttgart, Germany</p>
            </li>
            <li>
              <i class="fa-solid fa-envelope"></i>
              <a href="">info@tomoil.de</a>
            </li>
            <li>
              <i class="fa-solid fa-phone"></i>
              <a href="">+49 1578 1234567</a>
            </li>
          </ul>
        </div>
        <div class="info-book">
          <button>
            <a href="">Lets book a call</a>
          </button>
          <button>
            <a href="">PSD/SDS</a>
          </button>
          <button>AZE <i class="fa-solid fa-angle-down"></i></button>
        </div>
      </div>
      <div class="nav-section">
        <div class="logo">
          <img src="{% static 'images_folder/t.svg' %}" alt="" />
          <img src="{% static 'images_folder/o.svg' %}" alt="" />
          <img src="{% static 'images_folder/m.svg' %}" alt="" />
          <img src="{% static 'images_folder/o.svg' %}" alt="" />
          <img src="{% static 'images_folder/i.svg' %}" alt="" />
          <img src="{% static 'images_folder/l.svg' %}" alt="" />
        </div>
        <div class="nav-list">
          <ul>
            <li><a href="">Who we Are</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">SERVICES</a></li>
            <li><a href="">Brand portal</a></li>
            <li><a href="">news</a></li>
            <li><a href="">faq</a></li>
            <li><a href="">Contact US</a></li>
          </ul>
        </div>
        <button class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
