{% load static %}
{% load i18n %}

<meta name="csrf-token" content="{{ csrf_token }}">

<nav class="">
  <div class="container">
    <div class="navbar">
      <div class="info">
        <div>
          <ul>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              <p>{% trans 'Leitzstraße 45, 70469 Stuttgart, Germany' %}</p>
            </li>
            <li>
              <i class="fa-solid fa-envelope"></i>
              <p>{% trans 'Email_address' %}</p>
            </li>
            <li>
              <i class="fa-solid fa-phone"></i>
              <a href="https://wa.me/4915221050103">{% trans 'Phone number' %}</a>
            </li>
          </ul>
        </div>
        <div class="info-book">
            <a class="button" href="{% url 'contact:contact' %}">{% trans 'Lets book a call' %}</a>
            <a class="button" href="{% url 'products:pds_sds' %}">{% trans 'PDS/SDS' %}</a>

          <div class="language-dropdown">
            <button class="lang-dropdown-btn">
              {% if LANGUAGE_CODE == 'en' %}EN{% elif LANGUAGE_CODE == 'de' %}DE{% elif LANGUAGE_CODE == 'es' %}ES{%
              elif LANGUAGE_CODE == 'fr' %}FR{% elif LANGUAGE_CODE == 'it' %}IT{% elif LANGUAGE_CODE == 'ca' %}汉语{% else
              %}EN{% endif %}
              <i class="fa-solid fa-angle-down"></i>
            </button>
            <div class="dropdown-content" id="languageDropdown">
              <button class="lang-option {% if LANGUAGE_CODE == 'en' %}active{% endif %}" data-lang="en">EN</button>
              <button class="lang-option {% if LANGUAGE_CODE == 'de' %}active{% endif %}" data-lang="de">DE</button>
              <button class="lang-option {% if LANGUAGE_CODE == 'es' %}active{% endif %}" data-lang="es">ES</button>
              <button class="lang-option {% if LANGUAGE_CODE == 'fr' %}active{% endif %}" data-lang="fr">FR</button>
              <button class="lang-option {% if LANGUAGE_CODE == 'it' %}active{% endif %}" data-lang="it">IT</button>
              <button class="lang-option {% if LANGUAGE_CODE == 'zh-hans' %}active{% endif %}"
                data-lang="zh-hans">汉语</button>
            </div>
          </div>

        </div>
      </div>
      <div class="nav-section">
        <a href="{% url 'contact:home' %}" class="logo">
          <img loading="lazy" src="{% static 'images/tomoil-logo.svg' %}" alt="Tomoil" />
        </a>
        <div class="nav-list">
          <ul>
            <li class="dropdown">
              <a  href="{% url 'whoweare:glance' %}" >{% trans 'Who we Are' %}</a>
              <div class="dropdown-content">
                <a href="{% url 'whoweare:glance' %}">{% trans 'GLANCE' %}</a>
                <a href="{% url 'whoweare:vision_mission' %}">{% trans 'VISION & MISSION' %}</a>
                <a href="{% url 'whoweare:our_commitment_list' %}">{% trans 'OUR COMMITMENTS' %}</a>
              </div>
            </li>
            <li><a href="{% url 'products:products_list' %}">{% trans 'Products' %}</a></li>
            <li><a href="{% url 'services:services_list' %}">{% trans 'SERVICES' %}</a></li>
            <li><a href="{% url 'brand_portal:brand_portal' %}">{% trans 'Brand portal' %}</a></li>
            <li><a href="{% url 'news:news_list' %}">{% trans 'news' %}</a></li>
            <li><a href="{% url 'faq:faq' %}">{% trans 'faq' %}</a></li>
            <li><a href="{% url 'contact:contact' %}">{% trans 'Contact US' %}</a></li>
          </ul>
        </div>
        <div class="flex-buttons">

          <a class="search" aria-label="{% trans 'Search' %}" href="{% url 'search:search' %}"><i class="fa-solid fa-magnifying-glass"></i></a>

          <button class="hamburger" id="hamburger" aria-label="Mobile-Menu">
            <i class="fas fa-bars"></i>
          </button>

        </div>

      </div>
    </div>
  </div>
</nav>

<div class="mobile-menu" id="mobile-menu">
  <div class="mobile-nav-content">
    <ul class="mobile-nav-list">
      <li class="mobile-dropdown">
        <a  href="{% url 'whoweare:glance' %}" class="mobile-dropdown-head">{% trans 'WHO WE ARE' %} <i class="fa-solid fa-chevron-right"></i></a>
        <div class="mobile-dropdown-content">
          <a href="{% url 'whoweare:glance' %}">{% trans 'GLANCE' %}</a>
          <a href="{% url 'whoweare:vision_mission' %}">{% trans 'VISION & MISSION' %}</a>
          <a href="{% url 'whoweare:our_commitment_list' %}">{% trans 'OUR COMMITMENTS' %}</a>
        </div>
      </li>
      <li class="mobile-nav-item"><a href="{% url 'products:products_list' %}">{% trans 'Products' %}</a></li>
      <li class="mobile-nav-item"><a href="{% url 'services:services_list' %}">{% trans 'SERVICES' %}</a></li>
      <li class="mobile-nav-item"><a href="{% url 'brand_portal:brand_portal' %}">{% trans 'BRAND PORTAL' %}</a></li>
      <li class="mobile-nav-item"><a href="{% url 'news:news_list' %}">{% trans 'NEWS' %}</a></li>
      <li class="mobile-nav-item"><a href="{% url 'faq:faq' %}">{% trans 'FAQ' %}</a></li>
      <li class="mobile-nav-item"><a href="{% url 'contact:contact' %}">{% trans 'CONTACT US' %}</a></li>
    </ul>
  </div>

  <div class="mobile-footer">
    <div class="mobile-buttons">
        <a class="mobile-btn" href="{% url 'contact:contact' %}">{% trans 'Lets book a call' %}</a>
        <a class="mobile-btn" href="{% url 'products:pds_sds' %}">{% trans 'PDS/SDS' %}</a>
    </div>

    <div class="mobile-contact">
      <div class="contact-item">
        <i class="fa-solid fa-location-dot"></i>
        <span>{% trans 'Leitzstraße 45, 70469 Stuttgart, Germany' %}</span>
      </div>
      <div class="contact-item">
        <i class="fa-solid fa-envelope"></i>
        <span>{% trans 'Email_address' %}</span>
      </div>
      <div class="contact-item">
        <i class="fa-solid fa-phone"></i>
        <a href="tel:+4915781234567">{% trans 'Phone number' %}</a>
      </div>
    </div>

    <div class="mobile-languages">
      <button class="mobile lang-btn {% if LANGUAGE_CODE == 'en' %}active{% endif %}" data-lang="en">EN</button>
      <button class="mobile lang-btn {% if LANGUAGE_CODE == 'de' %}active{% endif %}" data-lang="de">DE</button>
      <button class="mobile lang-btn {% if LANGUAGE_CODE == 'es' %}active{% endif %}" data-lang="es">ES</button>
      <button class="mobile lang-btn {% if LANGUAGE_CODE == 'fr' %}active{% endif %}" data-lang="fr">FR</button>
      <button class="mobile lang-btn {% if LANGUAGE_CODE == 'it' %}active{% endif %}" data-lang="it">IT</button>
      <button class="mobile lang-btn {% if LANGUAGE_CODE == 'zh-hans' %}active{% endif %}"
        data-lang="zh-hans">汉语</button>
    </div>
  </div>
</div>