<header class="placeholder-header page-header" {% if background_image %}style="background-image: url('{{ background_image.url }}')"{% endif %}>
    <div class="breadcrumb">
        <a href="/">Home</a>
        {% if breadcrumb_title %}
        <i class="fa-solid fa-angle-right"></i>
            <a href="{{ breadcrumb_url|default:'/' }}">{{ breadcrumb_title }}</a>
        {% endif %}
    </div>
    <div class="page-header-content">
        <h2>{{ page_title}}</h2>
        <p>{{ page_description }}</p>
    </div>
    <a href="https://wa.me/message/YOUR_WHATSAPP_NUMBER" class="header-whatsapp">
        <i class="fab fa-whatsapp"></i>
        <span>Any questions? Ask in WhatsApp</span>
    </a>
</header>
<a href="https://wa.me/message/YOUR_WHATSAPP_NUMBER" class="fixed-whatsapp">
    <i class="fab fa-whatsapp"></i>
</a>