{% load static %}
{% load i18n %}

<header class="placeholder-header page-header " 
{% if background_image  %}style="background-image: url('{{ background_image.url }}')" {% endif %}>
    <div class="section-container">
        <div class="breadcrumb">
            <a href="/">{% trans 'Home' %}</a>
            {% if breadcrumb_title %}
            <i class="fa-solid fa-angle-right"></i>
            <a href="{{ breadcrumb_url|default:'/' }}">{{ breadcrumb_title }}</a>
            {% endif %}
        </div>
        <div class="page-header-content">
            <h2>{{ page_title}}</h2>
            <p>{{ page_description }}</p>
        </div>
    </div>
    <a href="https://api.whatsapp.com/send?phone=4915221050103" class="header-whatsapp">
        <i class="fab fa-whatsapp"></i>
        <span>{% trans 'Any questions? Ask in WhatsApp' %}</span>
    </a>
</header>
<a href="https://api.whatsapp.com/send?phone=4915221050103" class="fixed-whatsapp">
    <i class="fab fa-whatsapp"></i>
</a>