@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

@font-face {
  font-family: "Atyp Medium";
  src: url("/static/assets/font/AtypTextMedium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Atyp Regular";
  src: url("/static/assets/font/AtypTextRegular.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: Atyp Bold;
  src: url("/static/assets/font/AtypTextBold.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Atyp Medium", sans-serif;
}

.container {
  width: 1300px;
  max-width: 95%;
  margin: 0 auto;
}

body {
  background-color: #f1f3f9;
}

.main-container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.section-container {
  width: 1000px;
  max-width: 95%;
  margin: auto;
  padding: 0px;
}

.section-title {
  font-family: "Atyp Medium", sans-serif;
  color: #223160;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}

.section-description {
    font-family: "Atyp Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.section-subtitle {
  color: #223160;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 28px;
}

/* NAVBAR */
nav {
  transition: all 0.3s ease;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000;
  width: 67vw;
  margin-top: 15px;
}

.navbar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  background-color: #e22131;
  border-top-left-radius: 20px;
}

.navbar .info div ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar .info div ul li {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.navbar .info div ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar .info-book {
  display: flex;
  gap: 7px;
  align-items: center;
}

.navbar .info-book button {
  border: none;
  padding: 0 6px;
  border-radius: 150px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

.navbar .info-book button a {
  color: #223160;
  text-decoration: none;
}

.navbar .info-book button:nth-child(3) {
  background-color: inherit;
  color: #fff;
}

.language-dropdown {
  position: relative;
}

.language-dropdown button {
  background-color: inherit !important;
  color: #fff !important;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar .language-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 8px 0;
  z-index: 1;
  top: 35px;
  right: 0;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}

.navbar .language-dropdown::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: -15px;
  left: 0;
}

.navbar .language-dropdown .dropdown-content button {
  color: #111214 !important;
  padding: 8px;
  background: none;
  border: none;
  display: block;
  text-align: center;
  font-size: 12px !important;
  border-bottom: 1px solid #f1f3f9;
  transition: color 0.3s ease !important;
  cursor: pointer;
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.navbar .language-dropdown .dropdown-content button:last-child {
  border-bottom: none;
}

.language-dropdown .dropdown-content button:hover {
  color: #e22131 !important;
}

.language-dropdown:hover .dropdown-content,
.language-dropdown .dropdown-content:hover {
  display: block;
  visibility: visible;
  opacity: 1;
}

.navbar .logo img {
  height: 18px;
}

.navbar .nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom-right-radius: 20px;
  height: 60px;
  padding: 0 60px;
}

.navbar .nav-section ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 100px;
  list-style: none;
}

.navbar .nav-section ul li {
  position: relative;
}

.navbar .nav-section ul li a {
  color: #111214;
  font-weight: 400;
  font-size: 12px;
  line-height: 80%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  transition: color 0.3s ease !important;
  text-decoration: none;
}

.navbar .nav-section ul li:hover a {
  color: #e22131;
}

.navbar .flex-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar .search {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.navbar .search a {
  color: #223160;
  text-decoration: none;
}

.navbar .search i {
  color: #223160;
  font-size: 20px;
  margin-right: 10px;
}

/* Main dropdown menu styles */
.navbar .dropdown .no-pointer {
  cursor: default;
}

.navbar .nav-list .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 14px;
  z-index: 1;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .nav-list .dropdown::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -20px;
  left: 0;
}

.navbar .nav-list .dropdown-content a {
  color: #111214 !important;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 12px !important;
  border-bottom: 1px solid #f1f3f9;
  transition: color 0.3s ease !important;
}

.navbar .nav-list .dropdown-content a:last-child {
  border-bottom: none;
}

.navbar .nav-list .dropdown-content a:hover {
  color: #e22131 !important;
}

.navbar .dropdown:hover .dropdown-content,
.navbar .dropdown-content:hover {
  display: block;
  visibility: visible;
  opacity: 1;
}

.navbar .dropdown .dropdown-content {
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}

.navbar .dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.navbar .hamburger {
  display: none;
  background: none;
  border: none;
  color: #223160;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1000001;
}

.mobile-menu {
  position: fixed;
  top: 45px;
  right: -100%;
  width: 95vw;
  max-width: 700px;
  height: 80vh;
  padding: 20px;
  z-index: 999999;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  transition: all 0.2s cubic-bezier(0.1, 0.2, 0.2, 0.2);
  overflow-y: auto;
}

.mobile-menu.active {
  right: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mobile-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333132;
  cursor: pointer;
  transition: color 0.3s ease;
}

.mobile-nav-content {
  flex: 1;
  padding: 25px 0;
}

.mobile-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-list li {
  border-bottom: 1px solid #f0f0f0;
}

.mobile-nav-item a,
.mobile-dropdown-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px;
  color: #223160;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 8%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.mobile-dropdown-head i {
  color: #223160;
  font-size: 12px;
  transition: transform 0.3s ease;
}

.mobile-dropdown.active .mobile-dropdown-head i {
  transform: rotate(180deg);
}

.mobile-dropdown-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-dropdown-content.active {
  max-height: 350px;
  padding-bottom: 20px;
  opacity: 1;
}

.mobile-dropdown-content a {
  display: block !important;
  padding: 12px 20px 12px 40px !important;
  color: #223160 !important;
  font-size: 12px !important;
  letter-spacing: 0 !important;
  border-bottom: none !important;
  justify-content: flex-start !important;
}

.mobile-footer {
  padding: 20px;
}

.mobile-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.mobile-btn {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid #d8dee3;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #e221311a;
}

.mobile-btn a {
  color: #223160;
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mobile-contact {
  margin-bottom: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 12px;
  color: #223160;
}

.contact-item i {
  color: #e22131;
  min-width: 14px;
  font-size: 12px;
}

.contact-item a {
  color: #223160;
  text-decoration: none;
}

.contact-item a:hover {
  color: #e22131;
}

.mobile-languages {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.mobile-languages .lang-btn {
  padding: 10px;
  border: 1px solid #d8dee3;
  background-color: #fff;
  color: #223160;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mobile-languages .lang-btn.active {
  background-color: #f1f3f9;
}

.mobile-languages .lang-btn:hover:not(.active) {
  border-color: #e22131;
  color: #e22131;
}

/* Overlay */
.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.mobile-overlay.active {
  opacity: 1;
  visibility: visible;
}

.navbar .nav-section ul li a.active,
.navbar .nav-section ul li.active>a {
  color: #e22131 !important;
}

.navbar .nav-section ul li.dropdown.active>a {
  color: #e22131 !important;
}

.dropdown-content a.active {
  color: #e22131 !important;
}

.mobile-nav-item a.active,
.mobile-dropdown-content a.active {
  color: #e22131 !important;
}

.mobile-dropdown.active .mobile-dropdown-head {
  color: #e22131 !important;
}

.mobile-dropdown.active .mobile-dropdown-head i {
  color: #e22131 !important;
  transform: rotate(90deg);
}

.mobile-dropdown-content.active {
  max-height: 500px;
  opacity: 1;
  padding-bottom: 20px;
}

/* HEADER */

.home-header {
  position: relative;
}

.home-header .swiper {
  width: 100%;
  height: 100vh;
}

.home-header .swiper-slide {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 18%;
  padding-right: 10%;
  background-repeat: no-repeat;
  position: relative;
}

.home-header .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  backdrop-filter: blur(3px);
  z-index: 1;
}

.home-header .slide-content {
  color: white;
  z-index: 2;
  max-width: 70%;
  margin-bottom: 20px;
}

.home-header .slide-content h5 {
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.home-header .slide-content h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 75px;
  line-height: 90px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.home-header .slide-content p {
  max-width: 70%;
    font-family: "Atyp Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #f1f3f9;
}

.btn-learn {
  background-color: #e22131;
  color: white;
  padding: 6px 14px;
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
  min-height: 52px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  transition: all 0.3s ease;
}

.home-header .swiper-button-prev,
.home-header .swiper-button-next {
  position: absolute !important;
  top: auto !important;
  bottom: 19vh !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  border: 1px solid #d8dee3;
  color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.4s ease;
}

.home-header .swiper-button-prev {
  left: 18% !important;
}

.home-header .swiper-button-next {
  left: 22% !important;
}

.home-header .swiper-button-prev::after,
.home-header .swiper-button-next::after {
  display: none;
}

.home-header .swiper-button-prev i,
.home-header .swiper-button-next i {
  font-size: 14px;
  color: white;
}

.section-container {
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
}

/* MARKET SEGMENTS */

.market-segments {
  margin: 40px auto;
  margin-top: 65px !important;
  margin-bottom: 100px !important;
}

.market-segments .market-segments-header {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 30px;
}

.market-segments .market-segments-header .section-description {
  color: #223160;
  margin: 15px 0;
}

.market-segments>div:first-of-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.market-segments .btn-market-segments {
  padding: 10px 25px;
  border-radius: 999px;
  display: flex;
  gap: 10px;
  background-color: #223160;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  align-self: end;
}

.market-segments .btn-market-segments a {
  white-space: nowrap;
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
}

.market-segments .btn-market-segments i {
  margin-left: 8px;
}

.market-segments .btn-none {
  display: none;
}

.market-segments ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 30px auto;
}

.market-segments ul li a {
  gap: 12px;
  display: flex;
  align-items: center;
  color: #223160;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
}

.market-segments ul li {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #2231604d;
}

.market-segments ul li div {
  background-color: #e22131;
  padding: 10px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.market-segments ul li div img {
  width: 46px;
  height: 40px;
}

/* Product Range Section */

.product-range .section-description {
  max-width: 90%;
  color: #223160;
  margin: 15px 0;
}

.product-range .navigation {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 20px;
}

.product-range .nav-button {
  text-decoration: none;
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  border: 1px solid #d8dee3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-range .navigation.nav-none {
  display: none;
}

.product-range-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 10px 0;
}

.product-range .navigation a {
  color: #034833;
  transition: all 0.4s ease;
}

.product-range .navigation div:hover,
.product-range .card-button:hover {
  color: white !important;
  background-color: #e22131 !important;
}

.product-range .card-container .card {
  position: relative;
}

.product-range .card-container .card-content {
  position: absolute;
  top: 80%;
  right: 0;
  background-color: #fff;
  width: 92%;
  padding: 20px;
  min-height: 120px;
  max-height: 155px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-shadow: 0px 0px 60px 0px #0000000d;
}

.product-range .card-image {
  width: 100%;
  border-radius: 20px;
}

.product-range .card-text {
  width: 80% !important;
}

.product-range .card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #034833;
}

.product-range .card-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-top: 10px;
  color: #727272;
}

.product-range .card-button-container {
  width: 18%;
}

.product-range .card-button {
  width: 100%;
  text-decoration: none;
  color: #034833;
  border-radius: 20px;
  border: 1px solid #d8dee3;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.product-range .card-button i {
  font-family: Font Awesome 6 Free !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.home-header .swiper-button-prev:hover,
.home-header .swiper-button-next:hover {
  color: #fff !important;
  background: #ffffff4d;
}

.product-range {
  margin-bottom: 80px;
}

.cross-reference {
  margin: 80px auto !important;
  padding-top: 50px;
}

.cross-reference>div {
  width: 100%;
  height: 100%;
  background-color: white !important;
  box-shadow: 0px 0px 60px 0px #0000000d;
  border-radius: 20px;
  padding: 60px;
}

.cross-reference .cross-reference-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.cross-reference .section-title {
  width: 82%;
}

.cross-reference .cross-reference-header p {
  color: #223160;
}

.cross-reference .cross-reference-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 6px;
}

.cross-reference .cross-reference-content h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #111214;
}

.cross-reference .cross-reference-content .dropdown {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cross-reference .cross-reference-content div button {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  background-color: inherit;
  border: 1px solid #d8dee3;
  padding: 12px 15px;
  border-radius: 999px;
  cursor: pointer;
}

.cross-reference .cross-reference-content>button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #e22131;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 999px;
  align-self: self-end;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cross-reference .cross-reference-content>button span {
  font-size: 14px;
  color: white;
  display: none;
}

.cross-reference .cross-reference-content p,
.cross-reference .cross-reference-content input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #727272c6;
}

.cross-reference .cross-reference-content div button i {
  color: #223160;
}

.cross-reference .cross-reference-content>button i {
  font-size: 16px;
}

.cross-reference-content .dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #d8dee3;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  max-height: 180px;
  overflow-y: auto;
  display: none;
  z-index: 999;
}

.cross-reference-content .dropdown-menu li {
  padding: 12px 20px;
  cursor: pointer;
  color: #034833a8;
  font-size: 14px;
  border-bottom: 1px solid #f1f3f9;
}

.cross-reference-content .dropdown-menu li:hover {
  background-color: #f3f3f3;
}

.cross-reference-content .dropdown.open .dropdown-menu {
  display: block;
}

.cross-reference-content .dropdown {
  position: relative;
}

/* Logos section */

.logos-section {
  margin: 60px auto;
}

.logos-section #wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.logos-section #carousel {
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  box-sizing: content-box;
  max-width: 1000px;
  margin: 0 auto;
}

.logos-section #carousel::-webkit-scrollbar {
  height: 0;
}

.logos-section #prev,
.logos-section #next {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: none;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 12px;
  border-width: 1px;
  border: 1px solid #d8dee3;
  text-align: center;
}

.logos-section #prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: flex;
}

.logos-section #next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.logos-section #content {
  display: grid;
  grid-gap: 115px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  align-items: center;
}

.logos-section .item {
  width: 155px;
  object-fit: contain !important;
  height: auto;
  max-height: 70px;
}

.comments-section {
  padding: 30px 0;
}

.comments-section .swiper {
  width: 1300px;
}

.comments-section .swiper-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  background-color: transparent !important;
  gap: 15px;
}

.comments-section .swiper-slide {
  background-color: white !important;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48% !important;
  height: 400px;
  padding: 30px;
}

.comments-section .swiper-slide>div:first-of-type {
  display: flex;
  flex-direction: column;
}

.comments-section .swiper-slide>div:first-of-type img {
  margin-bottom: 15px;
}

.comments-section .swiper-slide>div>img {
  width: 53px;
  height: 30px;
}

.comments-section .swiper-slide>div:first-of-type>p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #727272;
}

.comments-section .swiper-slide>div>div>img {
  width: 50px;
  height: 50px;
  border-radius: 999px;
}

.comments-section .swiper-slide>div>div>h5 {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #223160;
}

.comments-section .swiper-slide>div>div>p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #223160;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: none !important;
}

.comments-section .swiper-slide>div:last-of-type {
  display: flex;
  gap: 15px;
}

.comments-section .swiper-button-prev,
.comments-section .swiper-button-next {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  border: 1px solid #d8dee3;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.4s ease;
}

.comments-section .swiper-button-prev:hover,
.comments-section .swiper-button-next:hover {
  border: 1px solid #3579bc;
}

.comments-section .swiper-button-prev::after,
.comments-section .swiper-button-next::after {
  display: none;
}

.comments-section .swiper-button-prev i,
.comments-section .swiper-button-next i {
  font-size: 18px;
  color: #223160;
}

.product-range .nav-button {
  position: static !important;
  font-size: 12px;
  width: 45px !important;
  height: 45px !important;
  border: 0.5px solid #d8dee3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  cursor: pointer;
  color: #727272;
  transition: all 0.4s ease;
  background-color: white;
}

.product-range .swiper-button-prev::after,
.product-range .swiper-button-next::after {
  display: none;
}

.product-range .swiper-button-next {
  margin-right: 20px !important;
}

.product-range .swiper {
  padding-bottom: 10rem !important;
  margin-bottom: 10px;
  width: 100%;
}

.product-range .swiper-slide {
  width: 30.5% !important;
  max-width: 350px;
  height: auto;
}

.cross-reference .cross-reference-content>button:hover,
.home-header .btn-learn:hover,
.market-segments ul li div:hover,
.button-style:hover {
  background-color: #c62232;
}

.header-whatsapp {
  position: absolute;
  bottom: 19vh;
  right: 8%;
  display: flex;
  align-items: center;
  background-color: #34c759;
  color: white;
  padding: 10px 20px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: all 0.3s ease;
}

.header-whatsapp i {
  font-size: 24px;
  margin-right: 10px;
}

.header-whatsapp span {
  font-size: 14px;
  font-weight: 500;
}

.fixed-whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.fixed-whatsapp i {
  font-size: 30px;
  color: white;
}

.fixed-whatsapp:hover {
  transform: scale(1.1);
}

#map-container {
  width: 1300px !important;
  max-width: 95%;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  margin-top: 30px;
}

.fm-map-container {
  width: 1000px;
}

.map-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.map-header h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #223160;
  font-family: "Atyp Medium", sans-serif;
}

.button-style {
  padding: 6px 30px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  background-color: #e22131;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-style a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  font-family: Unbounded;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.home-header .slide-back {
  background-image: url("../../images_folder/header.jpg");
}

/* /////////////////////////////////////////////////// */

@keyframes pulse {

  0%,
  100% {
    stroke-width: 2px;
    stroke-opacity: 1;
    stroke: #ffcc02;
  }

  50% {
    stroke-width: 5px;
    stroke-opacity: 0.6;
    stroke: #ffcc02;
  }
}

.fm-map-container text {
  color: #e22131 !important;
  fill: #e22131 !important;
  stroke: #ffcc02 !important;
  stroke-width: 2px !important;
  animation: pulse 2s infinite !important;
}

.fm-map-container .fm-item text {
  color: #e22131 !important;
  fill: #e22131 !important;
  stroke: #ffcc02 !important;
  stroke-width: 2px !important;
  animation: pulse 2s infinite !important;
}

.fm-tooltip-comment {
  color: #223160 !important;
  text-align: center !important;
  font-family: "Atyp Medium", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  letter-spacing: 1px;
}