.home-header .swiper {
  width: 100%;
  height: 85vh;
}

.home-header .swiper-slide {
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.swiper-slide .background-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

.home-header .swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  z-index: 1;
}

.home-header .swiper-slide .container.homed-slider-content {
  z-index: 2;
  display: flex;
  padding-left: 3px;
}

.home-header .swiper-slide .container .btn-learn {
  border-radius: 29px !important;
}

.home-header .swiper-slide .container.whatsapp {
  z-index: 2;
  display: flex;
  align-items: end;
  justify-content: end;
  margin-top: 50px;
}

.home-header .slide-content {
  color: #fff;
  z-index: 2;
  width: 100%;
}

.home-header .slide-content span {
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.home-header .slide-content p:nth-of-type(1) {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
  max-width: 70%;
}

.home-header .slide-content p:nth-of-type(2) {
  max-width: 75%;
  font-family: 'Atyp Regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #f1f3f9;
}

.home-header .home-navigation {
  display: flex;
  gap: 35px;
  margin-right: 10px;
}

.home-header .swiper-button-next,
.home-header .swiper-button-prev {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  border: 1px solid #d8dee3;
  color: #fff !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: 0.4s;
  position: relative !important;
}

.comments-section .swiper-button-next::after,
.comments-section .swiper-button-prev::after,
.home-header .swiper-button-next::after,
.home-header .swiper-button-prev::after,
.product-range .navigation.nav-none,
.product-range .swiper-button-next::after,
.product-range .swiper-button-prev::after {
  display: none !important;
}

.home-header .swiper-button-next i,
.home-header .swiper-button-prev i {
  font-size: 14px;
  color: #fff;
}

.market-segments {
  margin: 40px auto;
  margin-top: 65px !important;
  margin-bottom: 100px !important;
}

.market-segments .market-segments-header {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 30px;
}

.market-segments .market-segments-header .section-description {
  color: #223160;
  margin-top: 15px;
}

.market-segments > div:first-of-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.market-segments .btn-market-segments {
  padding: 8px 25px;
  border-radius: 999px;
  display: flex;
  background-color: #223160;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  align-self: end;
  white-space: nowrap;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  transition: all 0.3s ease;
}

.market-segments .btn-market-segments-flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.market-segments .btn-market-segments:hover {
  background-color: #e22131;
}

.market-segments .btn-market-segments i {
  margin-left: 8px;
}

.market-segments ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 30px auto;
}

.market-segments ul li a {
  gap: 12px;
  display: flex;
  align-items: center;
  color: #223160;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0;
}

.market-segments ul li {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #2231604d;
}

.market-segments ul li div {
  background-color: #e22131;
  padding: 10px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.market-segments ul li div img {
  width: 40px;
  height: 35px;
  filter: brightness(0) invert(1);
}

.product-range .section-description {
  max-width: 90%;
  color: #223160;
  margin: 15px 0;
}

.product-range .navigation {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 20px;
}

.product-range .nav-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-range-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 10px;
}

.product-range .navigation a {
  color: #034833;
  transition: 0.4s;
}

.product-range .card-button:hover,
.product-range .navigation div:hover {
  color: #fff !important;
  background-color: #e22131 !important;
}

.product-range .card-container .card-content {
  position: absolute;
  top: 80%;
  left: 0;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  min-height: 125px;
  max-height: 155px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-shadow: 0 0 60px 0 #0000000d;
}

.product-range .card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.product-range .card-text {
  width: 80% !important;
}

.product-range .card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #034833;
}

.product-range .card-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-top: 6px;
  color: #727272;
}

.product-range .card-button-container {
  width: 18%;
}

.product-range .card-button {
  width: 100%;
  text-decoration: none;
  color: #034833;
  border-radius: 20px;
  border: 1px solid #d8dee3;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  transform: rotate(45deg);
}

.product-range .card-button i {
  font-family: 'Font Awesome 6 Free' !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}

.home-header .swiper-button-next:hover,
.home-header .swiper-button-prev:hover {
  color: #fff !important;
  background: #ffffff4d;
}

.product-range {
  margin-bottom: 80px;
}

.cross-reference {
  margin: 0 auto !important;
  padding-top: 100px;
}

.cross-reference > div {
  width: 100%;
  height: 100%;
  background-color: #fff !important;
  box-shadow: 0 0 60px 0 #0000000d;
  border-radius: 20px;
  padding: 60px;
}

.cross-reference .cross-reference-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.cross-reference .section-title {
  width: 82%;
}

.cross-reference .cross-reference-content div button i,
.cross-reference .cross-reference-header p {
  color: #223160;
}

.cross-reference .cross-reference-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 6px;
}

.cross-reference .cross-reference-content h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  color: #111214;
}

.cross-reference .cross-reference-content .dropdown {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cross-reference .cross-reference-content div button {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  background-color: inherit;
  border: 1px solid #d8dee3;
  padding: 12px 15px;
  border-radius: 999px;
  cursor: pointer;
}

.cross-reference .cross-reference-content > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #e22131;
  color: #fff;
  padding: 16px;
  border: none;
  border-radius: 999px;
  align-self: self-end;
  cursor: pointer;
  transition: 0.3s;
}

.cross-reference .cross-reference-content > button span {
  font-size: 14px;
  color: #fff;
  display: none;
}

.cross-reference .cross-reference-content input::placeholder,
.cross-reference .cross-reference-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0;
  color: #727272c6;
}

.cross-reference .cross-reference-content > button i {
  font-size: 16px;
}

.cross-reference-content .dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d8dee3;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-height: 180px;
  overflow-y: auto;
  display: none;
  z-index: 999;
}

.cross-reference-content .dropdown-menu li {
  padding: 12px 20px;
  cursor: pointer;
  color: #034833a8;
  font-size: 14px;
  border-bottom: 1px solid #f1f3f9;
}

.cross-reference-content .dropdown-menu li:hover {
  background-color: #f3f3f3;
}

.cross-reference-content .dropdown.open .dropdown-menu {
  display: block;
}

.logos-section {
  margin: 60px auto;
}

.logos-section #wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.logos-section #carousel {
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  box-sizing: content-box;
  max-width: 1000px;
  margin: 0 auto;
}

.logos-section #carousel::-webkit-scrollbar {
  height: 0;
}

.logos-section #next,
.logos-section #prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #d8dee3;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 12px;
  text-align: center;
}

.logos-section #prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: flex;
}

.logos-section #next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.logos-section #content {
  display: grid;
  grid-gap: 115px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  align-items: center;
}

.logos-section .item {
  width: 155px;
  object-fit: contain !important;
  height: auto;
  max-height: 70px;
}

.comments-section {
  padding: 30px 0;
}

.comments-section .swiper {
  width: 1300px;
}

.comments-section .swiper-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  background-color: transparent !important;
  gap: 15px;
}

.comments-section .swiper-slide {
  background-color: #fff !important;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48% !important;
  height: 400px;
  padding: 30px;
  cursor: pointer;
}

.comments-section .swiper-slide > div:first-of-type {
  display: flex;
  flex-direction: column;
}

.comments-section .swiper-slide > div:first-of-type img {
  margin-bottom: 15px;
}

.comments-section .swiper-slide > div > img {
  width: 53px;
  height: 30px;
}

.comments-section .swiper-slide > div:first-of-type > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
  color: #727272;
}

.comments-section .swiper-slide > div > div > img {
  width: 50px;
  height: 50px;
  border-radius: 999px;
}

.comments-section .swiper-slide > div > div > h5 {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0;
  color: #223160;
}

.comments-section .swiper-slide > div > div > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  color: #223160;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: none !important;
}

.comments-section .swiper-slide > div:last-of-type {
  display: flex;
  gap: 15px;
}

.comments-section .swiper-button-next,
.comments-section .swiper-button-prev {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  border: 1px solid #d8dee3;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: 0.4s;
}

.comments-section .swiper-button-next:hover,
.comments-section .swiper-button-prev:hover {
  border: 1px solid #3579bc;
}

.comments-section .swiper-button-next i,
.comments-section .swiper-button-prev i {
  font-size: 18px;
  color: #223160;
}

.product-range .nav-button {
  position: static !important;
  font-size: 12px;
  width: 45px !important;
  height: 45px !important;
  border: 0.5px solid #d8dee3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  cursor: pointer;
  color: #727272;
  transition: 0.4s;
  background-color: #fff;
}

.product-range .swiper-button-next {
  margin-right: 20px !important;
}

.product-range .swiper {
  padding-bottom: 10rem !important;
  margin-bottom: 10px;
  width: 100%;
}

.product-range .swiper-slide {
  max-width: 350px;
  height: auto;
}

.button-style:hover,
.cross-reference .cross-reference-content > button:hover,
.home-header .btn-learn:hover,
.market-segments ul li div:hover {
  background-color: #c62232;
}

.home-header .slide-back {
  background-image: url('../../images_folder/header.jpg');
}

.featured-section .background-overlay {
  position: absolute;
  width: 1300px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.featured-section {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: -75px auto 0;
  padding: 40px 20px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  z-index: 10;
}

.featured-section .background-svg {
  position: absolute;
  width: 100%;
  max-width: 1300px;
  height: 650px;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 0;
  object-fit: cover;
  aspect-ratio: 1000 / 498;
}

.featured-section .background-overlay {
  top: -512.82px;
  left: -50px;
  height: 1000.51px;
  background-color: #fff;
  opacity: 0.2;
  z-index: 1;
}

.featured-section .featured-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.featured-section .section-header {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  z-index: 3;
}

.featured-section .products-slider {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  overflow: visible;
}

.featured-section .slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  transition: transform 1s;
  position: relative;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}

.featured-section .product-card {
  flex: 0 0 calc(33.33% - 30px);
  margin: 0 auto;
  position: relative;
  opacity: 0.7;
  transition: 1s;
  z-index: 1;
  display: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.featured-section .product-card.visible {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.featured-section .product-card.active {
  opacity: 1;
  transform: scale(1.05);
  z-index: 5;
}

.featured-section .product-image a {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  transition: transform 0.3s;
}

.featured-section .product-card.active .product-image a::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #d2d2d2;
  outline: #d2d2d2 solid 1px;
  outline-offset: 8px;
  border-radius: 50%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: background-color 0.7s;
}

.featured-section .product-card.active .product-image a:hover::after {
  background-color: #e22131;
  outline-color: #e22131;
}

.featured-section .product-card.active .product-image:hover img {
  scale: 1.1;
}

.featured-section .product-image img {
  max-width: 80%;
  max-height: 100%;
  z-index: 2;
  transition: 0.4s;
  position: relative;
}

.featured-section .product-info {
  width: 75%;
  font-family: 'Atyp Regular', sans-serif;
  color: #223160;
}

.featured-container .product-card.active .product-info {
  margin-left: 35px;
}

.featured-section .product-title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #223160;
}

.featured-section .product-description {
  font-size: 12px;
  line-height: 24px;
}

.featured-section .slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  z-index: 10;
}

.featured-section .slider-nav:hover {
  background-color: #f8f9fa;
}

/* Aktif olmayan kartlardaki resimler daha küçük olsun */
.featured-section .product-card:not(.active) .product-image img {
  max-width: 60%;   /* 80% yerine daha küçük */
  max-height: 80%;  /* biraz daha kısalt */
  transition: 0.4s;
  opacity: 0.8;     /* istersen biraz şeffaflık da ekleyebilirsin */
}

.featured-section .prev-btn {
  left: 10px;
}

.featured-section .next-btn {
  right: 10px;
}

.featured-section .arrow {
  border: solid #1a2b5e;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.featured-section .arrow-right {
  transform: rotate(-45deg);
}

.featured-section .arrow-left {
  transform: rotate(135deg);
}

.featured-section .view-catalog {
  display: block;
  padding: 1px 20px;
  background-color: #e22131;
  color: #fff;
  text-align: center;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 50px;
  transition: background-color 0.3s;
  position: relative;
  z-index: 2;
}

.adventure-section .all-news-button:hover,
.featured-section .view-catalog:hover {
  background-color: #c62232;
}

.adventure-section .section-title {
  max-width: 60%;
}

.adventure-section .news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.adventure-section .news-card {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.adventure-section .card-large {
  grid-column: 1;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
}

.adventure-section .card-small {
  display: flex;
  flex-direction: row;
}

.adventure-section .card-image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.adventure-section .card-large .card-image {
  height: 245px;
}

.adventure-section .card-small .card-image-container {
  width: 35%;
  overflow: hidden;
}

.adventure-section .card-small .card-image {
  height: 100%;
  object-fit: cover;
}

.adventure-section .card-content {
  padding: 25px;
  margin: 10px;
}

.adventure-section .card-small .card-content {
  padding: 20px;
  width: 65%;
}

.adventure-section .card-meta {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.adventure-section .card-date {
  color: #727272;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.adventure-section .date-icon {
  margin-right: 3px;
}

.adventure-section .share-button {
  color: #727272;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 25px;
}

.adventure-section .card-large .date-icon,
.adventure-section .card-large .share-icon,
.adventure-section .read-more i {
  color: #e22131;
}

.adventure-section .card-title {
  color: #223160;
  font-family: 'Atyp Medium', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.2;
}

.adventure-section .card-description {
  color: #727272;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.6;
}

.adventure-section .read-more {
  color: #223160;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}

.adventure-section .all-news-button {
  background-color: #e22131;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 11px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 15px;
  transition: background-color 0.3s;
}

.adventure-section .news-none {
  display: none;
}

.adventure-section .all-news-icon {
  margin-left: 8px;
}

.adventure-section .header-container {
  position: relative;
  margin-bottom: 30px;
}

.adventure-section i {
  font-size: 12px;
  margin: 0 10px 2px 8px;
}

.accross-section {
  margin-top: 80px;
  margin-bottom: 50px;
}

.accross-section .section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.accross-section .section-title {
  margin-bottom: 10px;
}

.accross-section .section-description {
  color: #223160;
  margin: 8px 0;
  text-align: center;
  max-width: 70%;
}

.section-case-studies {
  overflow: hidden;
  padding: 0;
  margin-top: 80px !important;
}

.section-case-studies .case-studies-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.section-case-studies .section-title {
  max-width: 400px;
}

.section-case-studies .all-case-studies {
  color: #223160;
  text-decoration: underline;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  transition: color 0.3s;
}

.section-case-studies .all-case-studies:hover {
  color: #c62232;
}

.section-case-studies .slider-controls {
  display: flex;
  gap: 10px;
}

.section-case-studies .slider-arrow {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  color: #727272;
  border: 0.1px solid #72727237;
  font-size: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 23px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.section-case-studies .slider-arrow:hover {
  background-color: #c62232;
  color: #fff;
}

.section-case-studies .case-studies-slider {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  height: 400px;
}

.section-case-studies .case-studies-track {
  display: flex;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  transform: translateX(0);
}

.section-case-studies .case-study-card {
  flex: 0 0 140px;
  width: 150px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: 0.3s;
}

.case-study-card.active,
.case-study-card.interactive:hover,
.section-case-studies .case-study-card.interactive:hover {
  flex: 0 0 330px;
  width: 330px;
}

.case-study-card:not(.interactive) {
  cursor: default;
}

.section-case-studies .case-study-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.section-case-studies .case-study-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.section-case-studies .case-study-info {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  padding: 25px;
  background-color: #e22131;
  border-radius: 10px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.case-study-card.active .case-study-info,
.case-study-card.interactive:hover .case-study-info,
.section-case-studies .case-study-card.interactive:hover .case-study-info {
  opacity: 1;
}

.section-case-studies .case-study-title {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.section-case-studies .case-study-desc {
  font-family: Atyp Regular;
  font-size: 12px;
  line-height: 1.5;
}

.section-case-studies .case-studies-track.transitioning {
  transition: transform 0.3s;
}

.section-case-studies .case-studies-track:not(.transitioning) {
  transition: none;
}

.section-oem {
  background-color: #3579bc;
  color: #fff;
  border-radius: 20px;
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.oem-container {
  margin: 0 auto;
  max-width: 1000px;
}

.section-oem .oem-container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-oem .oem-content {
  width: 40%;
  margin: 0 20px;
}

.section-best-offers .quote-btn:hover i,
.section-oem .section-subtitle,
.section-oem .section-title {
  color: #fff;
}

.section-oem .section-description {
  font-family: 'Atyp Regular', sans-serif;
  margin-top: 15px;
  padding-right: 30px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
}

.section-oem .brand-logos {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.section-oem .brand-logo-container {
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.6);
  height: 120px;
}

.section-oem .brand-logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.section-oem .logo-img {
  max-width: 70%;
  max-height: 60px;
}

.section-best-offers {
  margin-top: 70px !important;
  margin-bottom: 100px !important;
}

.section-best-offers .best-offers-wrapper {
  display: flex;
  gap: 20px;
}

.section-best-offers .offer-left {
  width: 33%;
  height: auto;
}

.section-best-offers .offer-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.section-best-offers .offer-right {
  width: 67%;
  display: flex;
  flex-direction: column;
}

.section-best-offers .offer-right-top {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.section-best-offers .offer-content {
  flex: 1;
  padding: 40px;
}

.section-best-offers .offer-icon img {
  width: 50px;
  height: 50px;
  background-color: #e4002b;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

.section-best-offers .offer-content h2 {
  font-family: 'Atyp Bold', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #223160;
  margin-bottom: 15px;
}

.section-best-offers .offer-content p {
  color: #727272;
  font-family: 'Atyp Regular', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.section-best-offers .quote-btn {
  display: inline-block;
  background-color: #fff;
  border: 0.1px solid #cccccc8c;
  color: #034833;
  font-size: 12px;
  border-radius: 35px;
  padding: 17px 18px;
  text-decoration: none;
  transition: 0.3s;
}

.section-best-offers .quote-btn i {
  margin-left: 5px;
  color: #223160;
}

.section-best-offers .quote-btn:hover {
  background-color: #e4002b;
  color: #fff;
  border-color: #e4002b;
}

.section-best-offers .offer-image-right img {
  width: 230px;
  height: 100%;
  object-fit: cover;
  object-position: right;
  border-radius: 20px;
}

.section-best-offers .offer-right-bottom {
  background-color: #e4002b;
  color: #fff;
  border-radius: 20px;
  padding: 35px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.section-best-offers .stat-box {
  flex: 1;
  min-width: 100px;
  padding: 10px 0 10px 6%;
}

.section-best-offers .stat-box h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
}

.section-best-offers .stat-box .stat-box-bottom {
  display: flex;
  align-items: center;
}

.section-best-offers .stat-box p {
  font-family: 'Atyp Regular', sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

.e-mobility-section {
  margin: 80px auto;
  margin-bottom: 130px !important;
}

.e-mobility-container {
  height: 250px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: relative;
  border-radius: 30px;
}

.e-mobility-container .background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  object-fit: cover;
  border-radius: 30px;
}

.e-mobility-section .e-mobility-content {
  max-width: 70%;
  color: #fff;
  z-index: 2;
}

.e-mobility-section .e-mobility-content h2 {
  color: #fff;
  font-size: 28px;
  margin: 20px 0;
}

.e-mobility-section .e-mobility-content p {
  font-size: 9px;
  font-family: 'Atyp Regular', sans-serif;
  line-height: 1.5;
  width: 70%;
}

.e-mobility-section .explore-btn {
  display: inline-block;
  background-color: #e52325;
  color: #fff;
  text-decoration: none;
  padding: 12px 40px;
  font-size: 9px;
  border-radius: 20px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.e-mobility-section .explore-btn:hover {
  background-color: #c41e20;
}

.e-mobility-section .e-mobility-image {
  position: absolute;
  right: 15px;
  bottom: -8px;
  width: 470px;
  height: 260px;
  z-index: 1;
}

.e-mobility-section .ev-car-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.adventure-section .news-card .copy-message {
  display: none;
  font-size: 0.85rem;
  color: #223160;
  font-weight: 600;
  transition: opacity 0.3s;
  margin-left: 15px;
}

.adventure-section .news-card .copy-message.show {
  display: inline;
  opacity: 1;
}
