.products-section {
  margin-top: 50px;
}

.products-section .products-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  align-items: start;
}

.products-section .filter-products {
  width: 100%;
  padding: 20px;
  padding-right: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.products-section .filter-products .reset-filter-btn {
  width: 95%;
  padding: 14px;
  background-color: transparent;
  border: 1px solid #727272;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #727272;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-family: Unbounded, sans-serif;
  cursor: pointer;
  transition: all 0.4s ease;
}

.products-section .filter-products .reset-filter-btn:hover {
  background-color: #e4e5e9;
}

.products-section .filter-products h3 {
  font-size: 18px;
  font-family: Atyp Regular;
  color: #034833;
  margin-bottom: 12px;
}

.products-section .filter-products .checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  gap: 8px;
  cursor: pointer;
}

.products-section .checkbox-group input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: border-color 0.2s;
}

.products-section .checkbox-group input[type="checkbox"]:checked {
  background-color: #e22131;
  border-color: #e22131;
}

.products-section .checkbox-group input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  width: 3px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.products-section .filter-products .filter-show-more {
  margin-top: 15px;
}

.products-section .filter-products .checkbox-group span {
  font-size: 12px;
  font-family: Atyp Regular;
  letter-spacing: 0.2px;
  color: #727272;
}

.products-section .filter-products .application-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-self: start;
  padding-right: 50px;
}

.products-section .icon-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f1f3f9;
  color: #727272;
  font-size: 12px;
  border: 1px solid #22316033;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.products-section .application-area .icon-button img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.products-section .icon-button:hover {
  background-color: #e4e5e9;
}

.products-section .icon-button.active {
  color: white;
  background-color: #e22131;
}

.products-section .icon-button.active:hover {
  background-color: #c62232;
}

.products-section .icon-button.active img {
  filter: brightness(0) invert(1);
}

.products-section .filter-products .pack-size-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-self: start;
  padding-right: 50px;
}

.products-section .pack-size-area .icon-button {
  border-radius: 12px !important;
}

.products-section .search-bar {
  position: relative;
  width: 95%;
  margin-bottom: 10px;
}

.products-section .search-input {
  width: 100%;
  height: 30px;
  padding: 0 50px 0 20px;
  border-radius: 50px;
  border: 1px solid #d8dee3;
  background-color: #ffffff;
  color: #223160;
  font-family: Atyp Regular;
  font-size: 12px;
  outline: none;
}

.products-section .search-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-section .search-button img {
  width: 13px;
  height: 13px;
  object-fit: contain;
}

.products-section .products-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: stretch;
}


.products-section .product-card {
  width: 100%;
  height: 100%;
  min-height: 350px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: relative;
}

.products-section .product-card .product-type {
  position: absolute;
  background-color: #e22131;
  padding: 8px 14px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
  top: 8px;
  right: 5px;
  font-size: 10px;
  font-family: Unbounded, sans-serif;
  z-index: 20;
}


.products-section .product-card .product-image {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 60px;
  border-bottom: 1.2px solid #f1f3f9;
}

.products-section .product-card .product-image img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  background-position: top;
  position: relative;
  z-index: 10;
}

.products-section .product-card .product-info {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

.products-section .product-card .product-title {
  color: #223160;
  font-size: 20px;
  line-height: 1.5;
}

.products-section .product-card .product-description {
  color: #223160;
  font-size: 12px;
  font-family: Atyp Regular;
  line-height: 1.8;
}

.products-section .product-card .product-id {
  color: #727272;
  font-size: 12px;
  font-family: Atyp Regular;
  line-height: 1.7;
}

.products-section .show-more {
  color: #e22131;
  font-size: 12px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.products-section .show-more i {
  color: #e22131;
  font-size: 12px;
  margin-left: 8px;
}


/* Scrolling */
.products-section .filter-products .checkbox-area,
.products-section .filter-products .application-area,
.products-section .filter-products .pack-size-area {
  max-height: 115px;
  transition: overflow 0.2s ease;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.products-section .filter-products .application-area,
.products-section .filter-products .pack-size-area {
  max-height: 100px;
}

.products-section .filter-products .checkbox-area::-webkit-scrollbar,
.products-section .filter-products .application-area::-webkit-scrollbar,
.products-section .filter-products .pack-size-area::-webkit-scrollbar {
  width: 2px;
}

.products-section .filter-products .checkbox-area::-webkit-scrollbar-track,
.products-section .filter-products .application-area::-webkit-scrollbar-track,
.products-section .filter-products .pack-size-area::-webkit-scrollbar-track {
  background: transparent;
}

.products-section .filter-products .checkbox-area::-webkit-scrollbar-thumb,
.products-section .filter-products .application-area::-webkit-scrollbar-thumb,
.products-section .filter-products .pack-size-area::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.products-section .filter-products .checkbox-area:not(.expanded)::-webkit-scrollbar,
.products-section .filter-products .application-area:not(.expanded)::-webkit-scrollbar,
.products-section .filter-products .pack-size-area:not(.expanded)::-webkit-scrollbar {
  display: none;
}

.products-section .filter-products .checkbox-area:not(.expanded),
.products-section .filter-products .application-area:not(.expanded),
.products-section .filter-products .pack-size-area:not(.expanded) {
  scrollbar-width: none;
}

.products-section .filter-show-more {
  margin-top: 10px;
}

.products-section .show-more {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.products-section .show-more:hover {
  color: #c62232;
}


.products-section .filter-results-button {
  width: 60%;
  height: 40px;
  background-color: #E22131;
  color: white;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.products-section .filter-results-button:hover {
  background-color: #c62232;
}



/* Product Details */

.product-details-section {
  margin: 50px auto;
  color: #223160;
}

.product-details-section .product-details-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.product-details-section .product-details-info .left-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-details-section h3 {
  margin-bottom: 20px;
}

.product-details-section .product-details-info .left-content .product-detail-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.product-details-section .product-details-info .details-image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 250px;
  position: relative;
  transition: all 0.3s ease;
  z-index: 10;
}

.product-details-section .product-details-info .details-image img {
  position: relative;
  width: 250px;
  max-height: 350px;
  object-fit: contain;
  z-index: 10;
}

.product-details-section .product-details-info .details-image::after {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #e22131;
  outline: 1px solid #e22131;
  outline-offset: 10px;
  border-radius: 50%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: background-color 0.7s ease;
}

.product-details-section .product-details-info .details-image:hover::after {
  background-color: #c62232;
}

.product-details-section .data-sheets {
  margin: 50px auto;
  text-align: center;
}

.product-details-section .data-sheets .sheet-buttons  {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.product-details-section .data-sheets .sheet-buttons button {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 22px;
}