/* Responsive  */
@media screen and (max-width: 2300px) {
    .page-header .section-container {
        padding-top: 8%;
    }
}

@media screen and (max-width: 1550px) {
    .navbar {
        width: 75vw;
        max-width: 1400px;
    }

    .page-header .section-container {
        padding-top: 10%;
    }

    .comments-section .swiper {
        width: 80vw;
    }

    .comments-section .swiper-wrapper {
        max-width: 60vw;
    }

    .comments-section .swiper-slide {
        width: 47% !important;
        height: 400px;
    }

    .comments-section .swiper-slide>div:first-of-type>p {
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 1400px) {
    .navbar {
        width: 90vw;
        max-width: 1200px;
    }

    .navbar .nav-section {
        padding: 0 40px;
    }

    .navbar .nav-section ul {
        margin-left: 60px;
        gap: 25px;
    }

    .page-header .section-container {
        padding-top: 11%;
    }

    .site-footer {
        padding: 60px 40px 0px 40px;
    }

    .footer-container,
    .site-footer .footer-bottom-container {
        max-width: 90vw;
    }

    .comments-section .swiper {
        width: 90vw;
    }

    .comments-section .swiper-wrapper {
        max-width: 70vw;
    }

    .comments-section .swiper-slide {
        height: 420px;
    }

    .featured-section {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    .wolver-section .wolver-container {
        height: 230px;
        max-width: 95%;
    }

    .wolver-products .oil-container {
        height: 90%;
        margin-right: -70px;
        bottom: -15px;
        right: -150px;
    }

    .wolver-products .oil-barrel {
        height: 105%;
        bottom: 5px;
        right: -90px;
    }


    .navbar {
        width: 95vw;
        max-width: 1150px;
    }

    .navbar .nav-section ul {
        margin-left: 40px;
        gap: 20px;
    }

    .navbar .info {
        height: 35px;
        padding: 0 8px;
    }

    .navbar .info div ul {
        gap: 15px;
    }

    .navbar .info div ul li {
        gap: 5px;
        font-size: 10px;
        line-height: 15px;
    }

    .navbar .info-book button {
        padding: 0 4px;
        font-weight: 400;
        font-size: 10px;
        line-height: 22px;
    }

    .language-dropdown .dropdown-content {
        min-width: 50px;
    }

    .navbar .nav-section {
        height: 55px;
        padding: 0 30px;
    }

    .navbar .nav-section ul li a {
        font-size: 10px;
        line-height: 75%;
    }

    .navbar .logo img {
        height: 15px;
    }

    .dropdown-content {
        min-width: 160px;
    }

    .dropdown-content a {
        padding: 10px;
        font-weight: 400;
        font-size: 10px !important;
    }

    .language-dropdown .dropdown-content button {
        padding: 6px;
        font-size: 10px !important;
    }

    .page-header .section-container {
        padding-top: 13%;
    }

    .header-whatsapp {
        right: 2%;
    }

    .header-whatsapp i {
        font-size: 20px;
    }

    .header-whatsapp span {
        font-size: 12px;
    }

    .site-footer .footer-brand {
        max-width: 200px;
    }

    .site-footer .footer-links,
    .site-footer .footer-menu2 {
        max-width: 100px;
    }

    .site-footer .footer-info {
        max-width: 200px !important;
    }

    .site-footer .footer-gallery {
        max-width: 160px;
    }

    .site-footer .gallery-item img {
        width: 50px;
        height: 50px;
    }

    .site-footer .newsletter-text {
        margin: 10px 0;
    }

    .site-footer .newsletter-form input {
        padding: 12px;
    }

    .site-footer .submit-btn {
        border-radius: 25px;
        padding: 10px 12px;
    }

    .comments-section .swiper {
        width: 95vw;
    }

    .comments-section .swiper-wrapper {
        max-width: 75vw;
    }

    .comments-section .swiper-slide>div>div>h5 {
        font-size: 20px;
    }

    .comments-section .swiper-slide>div>div>p {
        font-size: 15px;
    }

    .comments-section .swiper-button-prev,
    .comments-section .swiper-button-next {
        width: 50px !important;
        height: 50px !important;
    }

    .home-header .swiper {
        height: 85vh;
    }

    .home-header .swiper-slide {
        padding-left: 8%;
    }

    .home-header .slide-content h5 {
        font-size: 14px;
    }

    .home-header .slide-content h2 {
        font-size: 55px;
        line-height: 70px;
    }


    .btn-learn {
        font-weight: 400;
        font-size: 11px;
        min-height: 48px;
        width: 210px;
    }

    .home-header .swiper-button-prev,
    .home-header .swiper-button-next {
        width: 40px !important;
        height: 40px !important;
    }

    .home-header .swiper-button-prev {
        left: 15% !important;
    }

    .section-title {
        font-size: 32px;
        line-height: 40px;
    }

    .featured-section .slider-container {
        gap: 15px;
    }

    .featured-section .product-card {
        flex: 0 0 33%;
    }

    .featured-section .product-title {
        font-size: 15px;
    }

    featured-section .product-card.active .product-image a::after {
        width: 190px;
        height: 190px;
    }

    .e-mobility-section .e-mobility-image {
        margin: 0 auto;
        bottom: -40px;
        width: 400px;
    }

    .logos-section #content {
        grid-gap: 80px;
    }

    .logos-section .item {
        width: 130px;
        max-height: 65px;
    }

    .logos-section #carousel {
        max-width: 90%;
    }
}


@media screen and (max-width: 1100px) {
    .section-latest-news .list-item-content {
        padding-left: 25px !important;
        width: 40%;
    }

    .contact-section .form-row {
        flex-direction: column;
    }

    .contact-section .phone-input {
        gap: 10px;
    }

    .contact-section .contact-form {
        gap: 16px;
    }
}

@media screen and (max-width: 956px) {
    .wolver-section .wolver-container {
        height: 220px;
    }

    .wolver-section .wolver-content h2 {
        font-size: 24px;
    }

    .wolver-section .wolver-content p {
        letter-spacing: 0 !important;
    }

    .case-detail-section .section-title {
        font-size: 42px;
    }

    .navbar {
        max-width: 900px;
    }

    .navbar .nav-section ul {
        margin-left: 35px;
        gap: 14px;
    }

    .page-header {
        height: 365px;
    }

    .page-header .page-header-content h2 {
        font-size: 45px;
        line-height: 50px;
    }

    .page-header .section-container {
        padding-top: 15%;
    }


    .header-whatsapp {
        justify-content: center;
        width: 55px;
        height: 55px;
        padding: 20px;
        border-top-right-radius: 22px;
        border-bottom-left-radius: 22px;
    }

    .header-whatsapp i {
        font-size: 26px;
        margin: 0px auto !important;
    }

    .header-whatsapp span {
        display: none !important;
    }

    .site-footer {
        padding: 40px 20px 0px 20px;
    }

    .site-footer .footer-description,
    .site-footer .footer-menu a,
    .site-footer .newsletter-text,
    .site-footer .newsletter-form input,
    .site-footer .copyright,
    .site-footer .footer-links-bottom a {
        font-size: 11px;
    }

    .site-footer .footer-title {
        font-size: 16px;
    }

    .site-footer .footer-brand {
        max-width: 180px;
    }

    .site-footer .footer-links,
    .site-footer .footer-menu2 {
        max-width: 90px;
    }

    .site-footer .footer-info {
        max-width: 160px !important;
    }

    .site-footer .newsletter-form input {
        width: 70%;
    }

    .site-footer .footer-gallery {
        max-width: 140px;
    }

    .site-footer .gallery-item img {
        width: 45px;
        height: 45px;
    }

    .market-segments .btn-market-segments a {
        font-size: 12px;
    }

    .market-segments ul li a {
        gap: 10px;
        font-size: 15px !important;
    }

    .market-segments ul li {
        padding: 10px;
    }

    .market-segments ul {
        gap: 10px;
    }

    .market-segments ul li div {
        width: 55px;
        height: 55px;
    }

    .market-segments ul li div img {
        width: 30px;
        height: 28px;
    }

    .featured-section .product-card.active .product-image a::after {
        width: 180px;
        height: 180px;
    }

    .featured-section .product-image img {
        max-width: 150%;
    }

    .section-title {
        font-size: 26px;
        line-height: 32px;
    }

    .product-range .card-title {
        font-size: 16px;
        line-height: 22px;
    }

    .product-range .card-description {
        font-size: 12px;
        line-height: 16px;
        margin-top: 6px;
    }

    .cross-reference .cross-reference-content h3 {
        font-size: 12px;
        line-height: 18px;
    }

    .cross-reference .cross-reference-content p,
    .cross-reference .cross-reference-content input::placeholder {
        font-size: 12px;
        line-height: 30px;
    }

    .cross-reference .cross-reference-content div button i {
        font-size: 12px;
    }

    .cross-reference .cross-reference-content div button {
        padding: 8px 10px;
    }

    .cross-reference-content .dropdown-menu li {
        font-size: 12px;
    }

    .e-mobility-section .e-mobility-content h2 {
        font-size: 22px;
    }

    .e-mobility-section .e-mobility-image {
        width: 350px;
        bottom: -60px;
    }

    .e-mobility-container {
        height: 220px;
    }

    .logos-section #prev,
    .logos-section #next {
        width: 40px;
        height: 40px;
        padding: 8px;
    }

    .section-best-offers .stat-box h3 {
        font-size: 30px;
        line-height: 1.3;
    }

    .adventure-section .card-title {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 16px;
    }

    .adventure-section .card-description {
        font-size: 12px;
    }

    .adventure-section .card-content,
    .adventure-section .card-small .card-content {
        padding: 15px;
        margin: 8px;
    }

    .adventure-section .read-more {
        margin-top: 15px;
    }

    .products-section .filter-products h3 {
        font-size: 16px;
    }

    .products-section .filter-products .checkbox-group span {
        font-size: 11px;
    }

    .products-section .filter-products .reset-filter-btn,
    .products-section .filter-results-button {
        font-size: 11px;
        padding: 12px;
    }

    .products-section .products-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .products-section .product-card {
        min-height: 420px;
    }

    .products-section .product-card .product-title {
        font-size: 15px;
    }

    .pagination-container .pagination-info {
        font-size: 14px;
    }

    .pagination-container .page-btn {
        width: 35px;
        height: 35px;
        font-size: 13px;
    }

    .product-opinions .section-title {
        font-size: 24px;
    }

    .brand-portal-section .tab {
        font-size: 14px;
    }

    .brand-portal-section .logo-variation-image {
        padding: 60px 20px;
    }

    .brand-portal-section .section-content {
        padding: 30px;
        width: 56%;
    }

    .brand-portal-section .color-section,
    .brand-portal-section .typography-section,
    .brand-portal-section .imagery-section,
    .brand-portal-section .mediacenter-section {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 400px;
    }

    .brand-portal-section .imagery-section,
    .brand-portal-section .mediacenter-section {
        height: 550px;
    }


    .brand-portal-section .section-image {
        width: 100%;
        height: 50%;
    }

    .brand-portal-section .section-content {
        padding: 30px;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

}

@media (max-width: 860px) {

    .brand-portal-section .brochure-info .section-title {
        font-size: 14px;
        line-height: 18px;
    }

    .brand-portal-section .brochure-info .section-description {
        line-height: 14px;
    }

    .site-footer .footer-container {
        flex-wrap: wrap;
        align-items: center;
    }

    .data-sheet-section table {
        width: 840px;
    }

    .site-footer .footer-brand {
        max-width: 200px;
    }

    .site-footer .footer-links,
    .site-footer .footer-menu2 {
        max-width: 140px;
    }

    .site-footer .footer-info {
        width: 100%;
        max-width: 300px !important;
    }

    .site-footer .footer-gallery {
        width: 100%;
        max-width: 200px !important;
    }

    .site-footer .gallery-item img {
        width: 60px;
        height: 60px;
    }

    .site-footer .footer-bottom {
        padding: 20px 0;
    }

    .site-footer .footer-bottom-container {
        flex-direction: column;
        gap: 15px;
    }

    .site-footer .copyright,
    .site-footer .footer-links-bottom a {
        font-size: 12px;
    }

    .comments-section .swiper-slide {
        width: 85% !important;
        height: 400px;
    }

    .comments-section .swiper-button-prev,
    .comments-section .swiper-button-next {
        width: 45px !important;
        height: 45px !important;
    }

    .comments-section .swiper-button-prev i,
    .comments-section .swiper-button-next i {
        font-size: 14px;
    }

    .home-header .swiper {
        height: 75vh;
    }

    .home-header .swiper-slide {
        padding-top: 10%;
    }

    .home-header .slide-content h5 {
        font-size: 13px;
    }

    .home-header .slide-content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .home-header .slide-content p {
        font-size: 16px;
        line-height: 20px;
    }

    .home-header .slide-content {
        max-width: 65%;
    }

    .btn-learn {
        font-size: 10px;
        min-height: 42px;
        width: 200px;
    }

    .home-header .swiper-button-prev,
    .home-header .swiper-button-next {
        width: 35px !important;
        height: 35px !important;
        bottom: 10vh !important;
    }

    .header-whatsapp {
        bottom: 10vh;
    }

    .home-header .swiper-button-prev {
        left: 13% !important;
    }

    .product-range .card-title {
        font-size: 14px;
        line-height: 18px;
    }

    .product-range .card-description {
        font-size: 11px;
        line-height: 12px;
    }

    .product-range .card-button {
        height: 35px;
    }

    .product-range .card-button i {
        font-size: 14px;
    }

    .product-range .nav-button {
        width: 50px;
        height: 50px;
    }

    .map-header h6 {
        font-size: 16px;
        line-height: 20px;
    }

    .button-style {
        padding: 4px 24px;
    }

    .button-style a {
        padding: 8px;
    }

    .product-opinions .opinions {
        width: 37%;
    }

    .brand-portal-section .image-library-container {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .brand-portal-section .image-library-container .brand-detail-row {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 800px) {

    .brand-portal-section .logo-variations,
    .brand-portal-section .image-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .brand-portal-section .download-button {
        padding: 12px 20px;
        width: 50%;
    }

    .brand-portal-section .logo-primary {
        width: 60%;
        padding: 40px 20px;
        margin: 0 auto;
    }

    .brand-portal-section .section-content .section-description {
        font-size: 13px;
        line-height: 18px;
    }

    .brand-portal-section .logo-title {
        font-size: 16px;
        line-height: 22px;
    }

    .brand-portal-section .logo-container {
        flex-direction: column;
    }

    .brand-portal-section .promotional-row {
        grid-template-columns: repeat(2, 1fr);
    }

    .review-modal {
        width: 95%;
        max-width: 95%;
        max-height: 85vh;
    }

    .brand-portal-section .brochure-row {
        grid-template-columns: repeat(1, 1fr);
        height: 400px;
    }

    .review-modal .form-row {
        flex-direction: column;
    }

    .review-modal-overlay .modal-header {
        padding-bottom: 10px;
    }

    .review-modal-overlay .modal-title {
        font-size: 20px;
    }

    .review-modal-overlay .form-section {
        margin-bottom: 12px;
    }

    .review-modal-overlay .form-group textarea {
        min-height: 80px;
    }

    .review-modal-overlay .modal-form {
        padding: 14px 25px;
    }

    .review-modal-overlay .form-group input,
    .review-modal-overlay .form-group textarea {
        padding: 10px;
    }

    .review-modal-overlay .checkbox-container label,
    .review-modal-overlay label {
        font-size: 13px;
    }

    .review-modal-overlay .submit-btn {
        font-size: 12px;
        padding: 10px;
    }

    .wolver-section .wolver-container {
        height: 400px;
        display: block;
        padding: 20px 50px;
    }

    .wolver-section .wolver-content {
        max-width: 95%;
    }

    .wolver-products .oil-container {
        position: absolute;
        height: 50%;
        bottom: 30%;
    }

    .wolver-products .oil-container.top {
        left: 50%;
    }

    .wolver-products .oil-container.middle {
        left: 70%;
    }

    .wolver-products .oil-container.bottom {
        left: 90%;
    }


    .wolver-products .oil-barrel {
        position: absolute;
        height: 60%;
        bottom: 35%;
        left: 90%;
    }


    .wolver-section .wolver-content .content1 {
        width: 100%;
    }

    .pds-sds-section .pds-sds-container {
        flex-direction: column;
    }

    .pds-sds-section .pds-sds-left,
    .pds-sds-section .pds-sds-right {
        width: 100%;
    }

    .product-details-section .product-details-info .details-image img {
        width: 210px;
        max-height: 310px;
    }

    .product-details-section .product-details-info .details-image::after {
        width: 250px;
        height: 250px;
        outline-offset: 8px;
    }

    .section-latest-news .list-item-content {
        padding-left: 20px !important;
        width: 45%;
    }

    .section-latest-news .news-list-item {
        height: 280px;
    }

    .section-latest-news .card-image,
    .main-case-section .card-image {
        height: 200px;
    }

    .section-latest-news .card-content,
    .main-case-section .card-content {
        min-height: 250px;
    }

    .section-latest-news .read-more,
    .main-case-section .read-more {
        margin-top: 20px;
    }

    .section-latest-news .card-title,
    .main-case-section .card-title {
        font-size: 16px;
        line-height: 20px;
    }

    .section-latest-news .card-date,
    .main-case-section .card-date {
        font-size: 12px;
    }

    .contact-section .info-value {
        font-size: 12px;
    }

    .navbar {
        max-width: 700px;
    }

    .navbar .info {
        display: none;
    }

    .navbar .nav-section {
        height: 50px;
        padding: 0 20px;
        border-radius: 0 20px 0 20px;
    }

    .navbar .nav-section ul {
        display: none;
    }

    .hamburger {
        display: block !important;
    }

    .navbar .logo img {
        height: 15px;
    }

    .section-title {
        font-size: 24px;
        line-height: 30px;
    }

    .section-description {
        font-size: 15px;
        line-height: 1.5;
    }

    .featured-section .section-title {
        max-width: 90%;
    }

    .featured-section .slider-container {
        justify-content: center;
    }

    .featured-section .slider-container {
        gap: 20px;
    }


    .featured-section .product-title {
        font-size: 13px;
        font-weight: 400;
    }

    .featured-section {
        border-radius: 30px;
        padding: 20px 15px;
    }

    .featured-section .product-image img {
        max-width: 160%;
    }

    .featured-section .product-card.active .product-image a::after {
        width: 170px;
        height: 170px;
    }

    .featured-section .main-container {
        width: 100%;
        padding: 20px 0;
    }

    .product-range .card-container .card-content {
        padding: 15px 20px;
        min-height: 110px;
    }

    .cross-reference .cross-reference-content {
        flex-direction: column;
        gap: 12px;
    }

    .cross-reference .cross-reference-content .dropdown {
        width: 100%;
    }

    .cross-reference .cross-reference-content>button {
        width: 100%;
        margin-top: 10px;
    }

    .cross-reference .cross-reference-content>button span {
        display: block !important;
    }

    .e-mobility-container {
        flex-direction: column;
        height: auto;
        padding: 40px 30px 300px;
    }

    .e-mobility-section .e-mobility-content {
        max-width: 100%;
        text-align: center;
    }

    .e-mobility-section .e-mobility-container {
        padding: 30px 20px 200px;
    }

    .e-mobility-section .e-mobility-image {
        width: 310px;
        right: 50%;
        transform: translate(50%, 0);
        bottom: -100px;
    }

    .e-mobility-section .e-mobility-content p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .e-mobility-section .e-mobility-content {
        max-width: 100%;
        text-align: center;
    }

    .e-mobility-section .e-mobility-container {
        padding: 25px 20px 170px;
    }

    .logos-section {
        margin: 30px auto;
    }

    .logos-section #content {
        grid-gap: 40px;
    }

    .logos-section .item {
        width: 100px;
        max-height: 42px;
    }

    .section-best-offers .best-offers-wrapper {
        flex-direction: column;
    }

    .section-best-offers .offer-left,
    .section-best-offers .offer-right {
        width: 100%;
    }

    .section-best-offers .offer-left {
        height: 35vh;
    }

    .fixed-whatsapp {
        width: 50px;
        height: 50px;
    }

    .fixed-whatsapp i {
        font-size: 28px;
        color: white;
    }

    .case-detail-section .case-detail-images img {
        height: 350px;
    }

    .product-range .card-image {
        height: 150px;
    }
}

@media (max-width: 720px) {



    .brand-portal-section .tabs {
        flex-direction: column;
    }

    .brand-portal-section .tab {
        width: 100%;
    }

    .brand-portal-section .tab:not(:last-child)::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: #f1f3f9;
    }

    .specifications-table th,
    .specifications-table td,
    .data-sheet-section th,
    .data-sheet-section td {
        padding: 13px;
        font-size: 14px;

    }

    .product-details-section {
        margin: 40px auto 20px !important;
    }

    .product-details-section .product-properties {
        flex-direction: column;
        gap: 30px;
    }

    .product-details-section .left-content .button-style {
        width: 100%;
    }

    .product-details-section h3 {
        text-align: center;
        font-size: 18px;
    }

    .product-opinions {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-opinions .product-detail-content {
        width: 100%;
    }

    .product-opinions .opinions {
        width: 70%;
    }

    .product-details-section .product-details-info .details-image img {
        width: 270px;
    }

    .product-details-section .product-details-info .details-image::after {
        width: 310px;
        height: 310px;
    }

    .product-opinions .button-style {
        width: 100%;
    }

    .product-details-section .product-details-info {
        flex-direction: column;
        gap: 80px;
    }

    .product-details-section .product-details-info .details-image {
        width: 100%;
    }

    .product-detail-content .section-title {
        text-align: center;
    }

    .product-details-section .product-details-info .left-content {
        width: 100%;
        gap: 20px;
    }

    .case-detail-section .section-title {
        font-size: 34px;
    }

    .contact-section {
        padding-top: 120px;
        padding-bottom: 40px;
    }

    .contact-section .section-container {
        flex-direction: column;
        gap: 30px;
    }

    .contact-section .section-header {
        margin-bottom: 25px;
        max-width: 85%;
    }

    .contact-section .contact-info {
        max-width: 100%;
        gap: 20px;
    }

    .contact-section .checkbox-wrapper label {
        font-size: 12px;
    }

    .market-segments ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: 30px;
    }

    .market-segments ul li a {
        gap: 10px;
        font-size: 14px !important;
    }

    .market-segments .btn-market-segments {
        padding: 6px 16px;
    }

    .cross-reference .cross-reference-content h3 {
        font-size: 11px;
    }

    .section-oem .oem-container {
        flex-direction: column;
    }

    .section-oem .oem-content {
        width: 100%;
        margin: 20px;
    }

    .section-oem .brand-logos {
        width: 100%;
    }

    .adventure-section .news-grid {
        grid-template-columns: 1fr;
    }

    .adventure-section .card-large {
        grid-column: auto;
        grid-row: auto;
    }

    .adventure-section .card-small {
        flex-direction: column;
    }

    .adventure-section .card-large .card-image {
        height: 23vh;
    }

    .adventure-section .card-small .card-image-container {
        width: 100%;
        height: 23vh;
    }

    .adventure-section .card-small .card-content {
        width: 100%;
    }

    .adventure-section .all-news-button {
        position: static;
        margin-top: 20px;
        display: block;
        text-align: center;
    }

    .adventure-section .header-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .adventure-section .news-btn {
        display: none !important;
    }

    .adventure-section .news-none {
        display: block !important;
    }

    .accross-section {
        margin-top: 60px;
    }

    .cross-reference {
        padding-top: 0;
    }

    .products-section .filter-products {
        display: none !important;
    }

    .products-section .products-container {
        display: flex;
        align-items: start;
        gap: 15px;
    }

    .products-section .filter-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .products-section .products-card {
        min-height: 400px;
    }

    .products-section .product-card .product-title {
        font-size: 14px;
    }

    .products-section .show-more {
        font-size: 11px;
    }

    .products-section .product-card .product-type {
        font-size: 8px;
    }

    .product-specifications .tab {
        font-size: 14px;
    }

    .case-detail-section .main-image {
        height: 380px;
    }

    .case-detail-section .case-detail-images img {
        height: 340px;
    }

    .featured-section .product-card.active .product-image a::after {
        width: 160px;
        height: 160px;
    }

    .featured-section .product-image img {
        max-width: 150%;
    }

}

@media (max-width: 620px) {

    .brand-portal-section .download-links {
        flex-direction: column;
    }

    .brand-portal-section .download-links .download-button {
        width: 100%;
        font-size: 12px;
        text-align: center;
    }

    .brand-portal-section .logo-primary {
        width: 95%;
    }

    .brand-portal-section .brand-video-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-section .slider-container {
        gap: 0px;
    }

    .featured-section .product-image img {
        max-width: 160%;
        max-height: 110%;
    }

    .date-filter-container .filter-flex {
        flex-direction: column;
    }

    .brand-portal-section .brochure-row {
        min-height: 850px;
    }

    .brand-portal-section .brochure-image {
        width: 100%;
        height: 50%;
    }

    .brand-portal-section .brochure-image img {
        border-radius: 0px;
    }

    .brand-portal-section .brochure-card {
        flex-direction: column-reverse;
    }

    .brand-portal-section .brochure-info {
        width: 100%;
        height: 50%;
    }

    .need-more-section .need-more-btn {
        padding: 10px 30px;
    }

    .wolver-section .wolver-container {
        height: 350px;
    }

    .wolver-products .oil-container {
        bottom: 40%;
    }


    .wolver-products .oil-barrel {
        bottom: 45%;
    }

    .section-questions .faq-question h3 {
        font-size: 14px;
    }

    .section-questions .faq-icon {
        min-width: 30px;
        height: 30px;
        font-size: 86px;
    }

    .product-specifications .tab-content.active .performance-content p {
        font-size: 14px;
    }

    .section-latest-news .list-item-content {
        padding-left: 15px !important;
    }

    .section-latest-news .news-list-item {
        padding-left: 0;
    }

    .section-latest-news .news-list-item {
        height: 240px;
    }

    .news-filter-container .news-filter-header {
        flex-direction: column;
        gap: 20px;
    }

    .section-latest-news .card-content,
    .main-case-section .card-content {
        min-height: 210px;
        padding: 15px;
    }

    .section-latest-news .card-image,
    .main-case-section .card-image {
        height: 180px;
    }

    .section-latest-news .card-title,
    .main-case-section .card-title {
        font-size: 14px;
        line-height: 17px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .section-latest-news .card-date,
    .main-case-section .card-date {
        width: 100%;
        font-size: 11px;
    }

    .section-latest-news .share-button {
        width: 40%;
        font-size: 11px;
        margin-left: 5px;
    }

    .section-latest-news .read-more,
    .main-case-section .read-more {
        margin-top: 15px;
    }

    .news-filter-container .search-bar {
        width: 100%;
    }

    .news-filter-container .news-view-options {
        width: 100%;
        justify-content: space-between;
    }

    .section-latest-news {
        margin-top: 30px;
    }

    .page-header {
        height: 335px;
    }


    .page-header .breadcrumb {
        font-size: 12px;
        margin-bottom: 18px;
    }

    .page-header .section-container {
        padding-top: 28%;
    }

    .page-header .page-header-content {
        max-width: 80%;
    }

    .page-header .page-header-content h2 {
        font-size: 36px;
        line-height: 40px;
    }

    .page-header .page-header-content P {
        line-height: 16px;
    }

    .site-footer .footer-description,
    .site-footer .newsletter-text,
    .site-footer .newsletter-form input,
    .site-footer .copyright,
    .site-footer .footer-links-bottom a {
        font-size: 12px;
    }

    .site-footer .footer-menu a,
    .site-footer .footer-menu-icons a {
        font-size: 14px;
    }

    .site-footer .footer-title {
        font-size: 18px;
    }

    .site-footer .footer-brand {
        max-width: 500px;
    }

    .site-footer .footer-links,
    .site-footer .footer-menu2 {
        max-width: 130px;
    }

    .site-footer .footer-info {
        width: 100%;
        max-width: 500px !important;
    }

    .site-footer .newsletter-text {
        max-width: 75%;
    }

    .site-footer .newsletter-form {
        width: 85%;
        border-radius: 50px !important;
    }

    .site-footer .newsletter-form input {
        padding: 22px;
        font-size: 14px;
        border-radius: 50px !important;
    }

    .site-footer .submit-btn {
        border-radius: 40px;
        padding: 18px 20px;
    }

    .site-footer .submit-btn i {
        font-size: 22px;
    }

    .site-footer .footer-gallery {
        width: 100%;
        max-width: 300px !important;
    }

    .site-footer .gallery-item img {
        width: 90px;
        height: 90px;
    }

    .site-footer .footer-bottom {
        padding: 20px 0;
    }

    .site-footer .footer-bottom-container {
        flex-direction: column;
        gap: 15px;
    }

    .site-footer .social-icons {
        gap: 45px;
        margin-bottom: 20px !important;
    }

    .site-footer .social-icon i {
        font-size: 25px !important;
    }

    .comments-section .swiper-button-prev,
    .comments-section .swiper-button-next {
        display: none !important;
    }

    .comments-section .swiper {
        width: 95%;
    }

    .comments-section .swiper-wrapper {
        max-width: 95%;
    }

    .comments-section .swiper-slide {
        width: 80% !important;
    }

    .home-header .swiper {
        height: 65vh;
    }

    .home-header .slide-content h5 {
        font-size: 11px;
    }

    .home-header .slide-content h2 {
        font-size: 28px;
        line-height: 39px;
    }

    .btn-learn {
        font-size: 10px;
        min-height: 35px;
        width: 180px;
    }

    .home-header .swiper-button-prev,
    .home-header .swiper-button-next {
        bottom: 25px !important;
    }

    .home-header .swiper-button-prev {
        left: 10% !important;
    }

    .header-whatsapp {
        width: 51px;
        height: 47px;
    }

    .header-whatsapp {
        bottom: 25px !important;
    }

    .featured-section {
        width: 100%;
        margin-top: 0px !important;
        border-radius: 0px;
        padding: 40px 0px !important;
    }

    .featured-section .background-svg {
        top: -50px;
        left: -450px;
    }

    .featured-section .slider-nav {
        display: none;
    }

    .featured-section .product-card {
        flex: 0 0 60%;
    }

    .featured-section .product-image {
        height: 280px;
    }

    .featured-section .product-card.active .product-image a::after {
        width: 240px;
        height: 240px;
        outline-offset: 8px;
    }

    .product-range .card-container .card-content {
        min-height: 95px;
    }

    .product-range .card-button i {
        font-size: 12px;
    }

    .product-range .navigation.nav-none {
        display: block;
        display: flex;
        gap: 10px;
        margin-top: 0 auto;
        justify-content: center;
    }

    .product-range .nav-top {
        display: none !important;
    }

    .product-range .swiper {
        padding-bottom: 10rem !important;
        margin-bottom: 10px;
        width: 100%;
    }

    .product-range .swiper {
        padding-bottom: 6rem !important;
        margin-bottom: 10px;
        width: 100%;
    }

    .product-range .swiper-slide {
        width: 65% !important;
    }

    .product-range .card-container .card-content {
        width: 100%;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .product-range .card-title {
        font-size: 14px;
        line-height: 16px;
    }

    .product-range .card-description {
        font-size: 12px;
        line-height: 15px;
        margin-top: 10px;

    }

    .map-header h6 {
        font-size: 14px;
        line-height: 15px;
    }

    .button-style a {
        padding: 6px;
        font-size: 10px;
    }

    .e-mobility-section .e-mobility-image {
        width: 250px;
        bottom: -120px;
    }

    .logos-section #prev,
    .logos-section #next {
        display: none;
    }

    .logos-section #content {
        grid-gap: 30px;
    }

    .logos-section .item {
        width: 100px;
        max-height: 35px;
    }

    .section-case-studies .case-study-card {
        flex: 0 0 130px;
        width: 150px;
        height: 320px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .case-study-card.interactive:hover,
    .case-study-card.active {
        flex: 0 0 330px;
        width: 330px;
    }

    .section-case-studies .case-study-card.interactive:hover {
        flex: 0 0 330px;
        width: 330px;
    }

    .pagination-container .pagination-info {
        font-size: 13px;
    }

    .pagination-container .page-btn {
        width: 32px;
        height: 32px;
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .brand-portal-section .section-image {
        height: 40%;
    }

    .brand-portal-section .section-content {
        height: 60%;
    }

    .brand-portal-section .logo-variations,
    .brand-portal-section .image-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .brand-portal-section .logo-variation-item,
    .brand-portal-section .gallery-item {
        display: flex;
    }

    .brand-portal-section .section-content .section-description {
        font-size: 12px;
        line-height: 16px;
    }

    .brand-portal-section .logo-variation-image,
    .brand-portal-section .gallery-item img {
        width: 50%;
        border-right: 1px solid #D8DEE3;
    }

    .brand-portal-section .logo-variation-text,
    .brand-portal-section .gallery-caption {
        width: 50%;
    }

    .brand-portal-section .promotional-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .brand-portal-section .promotional-info .section-title {
        font-size: 14px;
    }

    .product-range .card-title {
        font-size: 12px;
    }

    .case-detail-section .main-image {
        height: 280px;
    }

    .case-detail-section .case-detail-images img {
        height: 230px;

    }

    .wolver-section .wolver-container {
        height: 320px;
    }

    .wolver-products .oil-container {
        height: 40%;
        bottom: 45%;
    }

    .wolver-products .oil-barrel {
        height: 45%;
        bottom: 50%;
        left: 90%;
    }

    .product-opinions .section-title {
        font-size: 22px;
    }

    .product-specifications .tab {
        font-size: 13px;
        padding: 13px;
    }

    .product-details-section .product-details-info .details-image img {
        width: 240px;
    }

    .product-details-section .product-details-info .details-image::after {
        width: 290px;
        height: 290px;
    }

    .modal-overlay .filter-sort-modal {
        width: 95% !important;
        padding: 20px;
        margin-top: 20px;
    }

    .page-tabs {
        padding-top: 100px;
    }

    .case-detail-section p {
        font-size: 14px;
    }

    .case-detail-section .card-date {
        font-size: 12px;
    }

    .case-detail-section .section-title {
        font-size: 22px;
    }

    .page-tabs .breadcrumb {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .modal-overlay .form-group-calendar {
        width: 100%;
        flex-direction: column;
        align-items: start;
    }

    .modal-overlay .date-input input {
        width: 200% !important;
    }

    .modal-overlay .modal-form input::placeholder,
    .modal-overlay .btn {
        font-size: 10px;
    }

    .modal-overlay .input-wrapper .calendar-icon {
        right: -88%;
    }

    .modal-overlay .date-filter {
        width: 100%;
        justify-content: stretch;
    }

    .section-latest-news .card-description,
    .main-case-section .card-description {
        font-size: 12px;
        line-height: 15px;
    }

    .section-latest-news .card-image,
    .main-case-section .card-image {
        height: 140px;
    }

    .section-latest-news .card-content,
    .main-case-section .card-content {
        min-height: 220px;
    }

    .page-header {
        height: 280px;
    }

    .page-header .page-header-content h2 {
        font-size: 26px;
        line-height: 30px;
    }

    .page-header .page-header-content p {
        line-height: 15px;
        font-size: 11px;
    }

    .header-whatsapp i {
        font-size: 22px;
    }

    .navbar .nav-section {
        padding: 0 15px;
    }



    .mobile-languages .lang-btn {
        padding: 5px;
    }

    .market-segments ul {
        margin: 20px auto;
    }

    .market-segments .market-segments-header {
        width: 90%;
    }

    .market-segments .btn-block {
        display: none !important;
    }

    .market-segments .btn-none {
        width: 100%;
        display: block !important;
    }

    .market-segments ul li a {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .section-title {
        font-size: 20px;
        line-height: 28px;
    }

    .section-description {
        font-size: 14px;
    }

    .featured-section .product-card {
        flex: 0 0 65%;
    }

    .featured-section .product-image {
        height: 250px;
    }

    .featured-section .product-card.active .product-image a::after {
        width: 200px;
        height: 200px;
    }



    .map-header {
        flex-direction: column;
        gap: 10px;
    }

    .button-style {
        padding: 4px 30px;
    }

    .logos-section #content {
        grid-gap: 28px;
    }

    .logos-section .item {
        width: 85px;
    }

    .section-best-offers .offer-right-top {
        flex-direction: column;
    }

    .section-best-offers .offer-image-right {
        width: 100%;
        height: 30vh;
    }

    .section-best-offers .offer-image-right img {
        width: 100%;
        object-position: center;
    }

    .section-best-offers .stat-box h3 {
        font-size: 24px;
    }

    .section-best-offers .stat-box p {
        font-size: 11px;
    }

    .section-best-offers .offer-right-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 15px;
        padding: 15px;
    }

    .section-best-offers .stat-box {
        padding-left: 30%;
    }

    .e-mobility-section {
        margin: 40px auto !important;
    }

    .section-best-offers {
        margin-bottom: 50px !important;
    }

    .section-oem .brand-logo-container {
        height: 90px;
    }

    .products-section .products-card {
        min-height: 480px;
    }

    .products-section .product-card .product-image {
        height: 55%;
    }

    .products-section .product-card .product-info {
        height: 45%;
    }

    .pagination-container .pagination-info {
        font-size: 12px;
        max-width: 48%;
    }

    .pagination-container .page-btn {
        width: 30px;
        height: 30px;
        font-size: 11px;
    }

    .fixed-whatsapp {
        width: 45px;
        height: 45px;
    }

    .fixed-whatsapp i {
        font-size: 24px;
        color: white;
    }
}

@media screen and (max-width: 400px) {

    .brand-portal-section .download-button {
        padding: 8px;
        font-size: 10px !important;
    }

    .brand-portal-section .section-image {
        height: 35%;
    }

    .brand-portal-section .section-content {
        height: 65%;
    }

    .case-detail-section .main-image {
        height: 220px;
    }

    .case-detail-section .case-detail-images img {
        height: 180px;

    }


    .wolver-section .wolver-container {
        padding: 15px 20px;
    }


    .wolver-section .wolver-content h2 {
        font-size: 20px;
    }

    .wolver-products .oil-barrel {
        height: 40%;
        bottom: 55%;
    }

    .wolver-products .oil-container {
        height: 35%;
        bottom: 55%;
    }

    .wolver-section .wolver-btn {
        padding: 8px 25px;
        font-size: 8px;
    }

    .product-specifications .tab {
        font-size: 12px;
        padding: 12px;
    }

    .product-details-section .product-details-info .details-image img {
        width: 200px;
    }

    .product-details-section .product-details-info .details-image::after {
        width: 250px;
        height: 250px;
    }

    .section-latest-news .card-title,
    .main-case-section .card-title {
        font-size: 12px;
        line-height: 15px;
    }

    .section-latest-news .card-date,
    .main-case-section .card-date {
        font-size: 10px;
    }

    .section-latest-news .read-more,
    .main-case-section .read-more {
        font-size: 11px;
        margin-top: 10px;
    }

    .home-header .swiper {
        height: 60vh;
    }

    .home-header .slide-content h2 {
        font-size: 22px;
        line-height: 40px;
    }

    .home-header .slide-content {
        max-width: 90%;
    }

    .products-section .products-card {
        min-height: 480px;
    }

    .products-section .product-card .product-image {
        height: 50%;
    }

    .products-section .product-card .product-info {
        height: 50%;
    }

    .products-section .product-card .product-title {
        font-size: 13px;
    }
}